.instantRewards {
  background: $info;
  position: relative;
  height: 80vh;
  &__header {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 2rem !important;
  }
  .columns {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__content {
    width: 100%;
    h5 {
      margin: 0;
      color: #716D6D;
      font-size: 22px;
      font-weight: 500;
    }
  }
  .reward-container {
    height: 26rem;
  }
}
