<template>
  <q-page class="instantRewards" margin>
    <div class="circle"></div>
    <div class="circle circle_2"></div>

    <div class="columns">
      <div class="instantRewards__content">
        <h5 class="instantRewards__header">Instant Reward</h5>
        <Card customClass="fullwidth reward-container">
          <template slot="card-content">
            <div class="row q-col-gutter-sm">
              <div class="reward col-4" v-for="(reward, i) in rewards" :key="i">
                <CardWithLink/>
              </div>
            </div>
          </template>
        </Card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import './_instantRewards.scss';
import Card from '../../../components/App/Card/Card';
import CardWithLink from '../../../components/App/CardWithLink/CardWithLink';

export default {
  name: 'instant-rewards',
  components: {
    Card,
    CardWithLink,
  },
  computed: {
    ...mapState('campaign', [
      'rewards',
    ]),
  },
  created() {
    const payload = {
      IS_MULTIPLE_VOUCER: process.env.IS_MULTIPLE_VOUCHER,
      IS_DAILY_LIMITED: process.env.IS_DAILY_LIMITED,
      CAMPAIGN_ID: process.env.CAMPAIGN_ID,
    };
    this.$q.loading.show();
    this.$store.dispatch('campaign/getRewards', payload)
      .then(() => this.$q.loading.hide());
  },
};
</script>
