.balance {
  display: flex;
  justify-content: space-between;

  &__amount {
    p {
      margin: 0;
      color: $secondary;
      font-weight: bold;
      font-size: 13px;
    }
    &-value {
      font-size: 22px;
      color: $p-color;
      font-weight: 300;
    }
  }
  &__action {
    align-self: flex-end;
    .q-btn {
      background-color: #2FD828;
      color: #FFF;
      padding: 5px;
      box-shadow: none;
      .q-btn__wrapper:before {
        box-shadow: $light-shadow;
      }
    }
  }
}
