<template>
  <div class="balance">
    <div class="balance__amount">
      <p>Total Balance:</p>
      <span v-if="wallet" class="balance__amount-value">
        <q-icon name="img:/icons/money.svg" /> {{ wallet.balance }}
      </span>
    </div>
    <div class="balance__action">
      <q-btn
        size="md"
        rounded
        icon-right="credit_card"
        @click="$router.push({ name: 'My Wallet' })"
        label="Wallet" />
    </div>
  </div>
</template>

<script>
import './_balance.scss';
import { mapState } from 'vuex';

export default {
  name: '',
  computed: {
    ...mapState('wallet', [
      'wallet',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
  },
  mounted() {
    this.$store.dispatch('wallet/getUserWallet', this.audienceProfile.id);
  },
};
</script>
