<template>
  <div class="activityCard">
    <Card width="147px" :customClass="`activityCard-round ${bgColor} fullwidth`">
      <template slot="card-content">
        <q-icon color="white" :name="iconName" size="100px" />

        <div class="name">
          <p>{{ cardTitle }}</p>
        </div>
      </template>
    </Card>
  </div>
</template>

<script>
import './_activityCard.scss';
import Card from '../../App/Card/Card';

export default {
  name: 'activity-card',
  props: {
    bgColor: {
      type: String,
      default: '',
    },
    iconName: {
      type: String,
      default: 'card_giftcard',
    },
    cardTitle: {
      type: String,
      default: 'Promotions',
    },
  },
  components: {
    Card,
  },
};
</script>
