.leaderboardGames {
  position: relative;
  background: $info;
  .columns {
    position: relative;
    h5 {
      // margin-bottom: 10px;
      color: #716D6D;
      font-size: 22px;
      font-weight: 500;
    }
  }
}
