<template>
  <q-page class="leaderboardGames" padding>
    <div class="circle"></div>
    <div class="circle circle_2"></div>

    <div class="columns">
      <div class="leaderboardGames__content">
        <h5 class="leaderboardGames__header">Leaderboard Games</h5>

        <div class="row q-col-gutter-sm">
          <div class="col-4">
            <CardWithLink cardLink="/apps/isabisport" cardImg="/icons/isabisport.png" customClass="rounded rounded-corner" />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import './_leaderboardGames.scss';
import CardWithLink from '../../../components/App/CardWithLink/CardWithLink';

export default {
  name: 'leaderboard-games',
  components: {
    CardWithLink,
  },
};
</script>
