// app global variables
//$light: #FFFFFF;
//$light-purple: #EEF8FF;
//$light-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
//$p-color: #3B3E46;
//$light-text: #676666;
//$fade-color: #D4D4D4;
//$grey: #716D6D;

