<template>
  <div class="appDialog">
    <q-dialog
      :persistent="isPersistent"
      v-model="isActive"
      :position='position'
    >
      <q-card
        :style="`
        width: ${width};
        height: ${height};
        background-color: ${bgColor};
        `"
        :class="`${customClass}`"
      >
        <q-card-section class="row items-center no-wrap" style="padding: 5px 0 0 0">
          <slot name="content">
            <!-- DOC: dynamic content here -->
          </slot>
        </q-card-section>

        <q-card-actions align="right" v-show="hasActions">
          <slot name="actions">
            <!-- DOC: dynamic dialog content -->
          </slot>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import './_dialog.scss';

export default {
  name: 'app-dialog',
  props: {
    isPersistent: {
      type: Boolean,
      default: true,
    },
    position: {
      type: String,
      default: 'bottom',
    },
    width: {
      type: String,
      default: '350px',
    },
    height: {
      type: String,
      default: '',
    },
    isActive: {
      type: Boolean,
      default: true,
    },
    bgColor: {
      type: String,
      default: '#EEF8FF',
    },
    customClass: {
      type: String,
      default: '',
    },
    hasActions: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
