<template>
  <div class="addCash">
    <q-input
      class="q-mt-sm"
      outlined
      color="secondary"
      borderless
      bg-color="white"
      v-model="cash.amount"
      mask="#.##"
      reverse-fill-mask
      fill-mask="0"
      ref="amount"
      :rules="[val => !!val || 'Enter an amount']"
      @input="setCardDetails"
      label="Amount" />
    <!-- <q-input
      class="q-mt-sm"
      outlined
      color="secondary"
      borderless
      bg-color="white"
      v-model="cash.card_number"
      ref="card_number"
      mask="#### - #### - #### - ####"
      unmasked-value
      fill-mask="#"
      :rules="[val => !!val || 'Enter card number']"
      @blur="setCardDetails"
      label="Card Number" /> -->
    <div class="row q-gutter-sm">
      <!-- <q-input
      class="q-mt-sm col"
      outlined
      color="secondary"
      borderless
      bg-color="white"
      v-model="cash.expiry_date"
      ref="expiry_date"
      mask="## / ####"
      fill-mask=""
      :rules="[val => !!val || 'Enter Expiry Date']"
      @blur="setCardDetails"
      label="Expiry: MM/YY" /> -->
      <!-- <q-input
      class="q-mt-sm col"
      outlined
      color="secondary"
      borderless
      bg-color="white"
      v-model="cash.cvv"
      ref="cvv"
      :rules="[val => !!val || 'Enter CVV']"
      @blur="setCardDetails"
      label="CVV" /> -->
    </div>
  </div>
</template>

<script>
import './_addCash.scss';

export default {
  name: 'add-cash',
  data() {
    return {
      cash: {
        amount: '',
        card_number: '',
        expiry_date: '',
        cvv: '',
      },
    };
  },
  methods: {
    setCardDetails() {
      this.$emit('setAddCash', this.cash);
    },
  },
};
</script>
