<template>
  <Dialog
    :isActive="isActive"
    :isPersistent="true"
    height="380px"
    bgColor="#FFF"
    customClass="rounded-card shadow-2"
    position="standard"
  >
  <template slot="content">
    <div class="column justify-center items-center full-width">
      <img class="mx-auto" width="200" src="/icons/stophand.png">
      <div class="text-h5 text-weight-bold text-red-1">Update Required</div>
      <div class="text-subtitle1 text-center q-mt-sm text-purple-5">
        You need to update your email and bank details to continue
      </div>
      <div class="column items-center q-mt-md">
        <q-btn class="gradient__bg-amber" unelevated style="width: 200px" padding="10px" label="Update" rounded no-caps @click="$router.push({ name: 'Profile' })" />
      </div>
    </div>
  </template>
  </Dialog>
</template>

<script>
import Dialog from '../../../App/Dialog/Dialog';

export default {
  name: 'prompt-modal',
  props: {
    isActive: {
      type: Boolean,
      default: () => false,
    },
  },
  components: {
    Dialog,
  },
};
</script>
