.landingPage {
  .columns {
    background-image: url("~assets/main/bg/gift.png");
    background-position: left bottom -15px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: $light-purple;
    width: 100%;
  }
  &__header {
    margin-top: 40px;
    .q-img {
      z-index: 1;
    }
    .circle {
      border-radius: 50%;
      background-color: $light;
      position: absolute;
      // z-index: -1;
        &__sm {
          height: 13.69px;
          width: 13.69px;
          margin-left: 130px;
        }
        &__md {
          height: 30px;
          width: 30px;
          margin-top: -1rem;
        }
        &__lg {
          height: 45.94px;
          width: 45.94px;
          margin-left: 6.6rem;
          margin-top: 2rem;
        }
    }
  }
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
      font-size: 25px;
      font-weight: 500;
      color: $secondary;
      margin-bottom: -5px;
    }
    p {
      width: 300px;
      margin: 0 auto;
      margin-top: 50px;
      z-index: 3;
    }

    &-action {
      margin-top: 66px;
      small {
        color: $light-text;
        font-size: 12px;
      }
    }
  }
  .q-btn__wrapper {
    background-color: $secondary;
    width: 17rem;
    padding: 12px;
    font-size: 17px;
  }
  .q-field__inner {
    width: 17rem;
    background-color: #ffffff;
    border-radius: 50px;
  }
  .q-field--outlined .q-field__control:before {
    box-shadow: $light-shadow;
    border: none;
  }
  .circles {
    position: absolute;
    margin-top: -100px;
    margin-left: 12rem;
  }
}

.q-dialog {
  .q-card__section {
    width: 100%;
    .appPin {
      margin: 0;
    }
    .instruction {
      font-size: 15px;
      color: $p-color;
    }
  }
}
