.gameResult {
  .info-right {
    display: flex;
    // align-items: center;
    justify-content: center;
    text-align: left;
  }
  .bottom-sheet {
    bottom: 0;
    background-color: #8587BC;
    padding: 20px;
    border-radius: 30px 30px 0px 0;
    position: absolute;
    width: 100%;
    .actions {
      text-align: center;
      .q-btn {
        margin: 0 auto;
        margin-bottom: 10px !important;
        width: 80%;
        padding: 5px;
        text-transform: capitalize;
        font-size: 17px;
        .q-btn__wrapper::before {
          box-shadow: none;
        }
      }
      .q-btn.share {
        color: #FFF;
        background: transparent linear-gradient(270deg, #F69632 0%, #F6C032 100%) 0% 0% no-repeat padding-box;
      }
    }
  }
}
