<template>
  <div class="gameResult">
    <div class="text-center q-mt-xl text-bold text-purple-5" v-if="audienceScore">
      Questions answered in {{ audienceScore.duration }} seconds
    </div>
    <div class="row">
      <div class="col-md-5 justify-center items-center col-xs-5">
        <q-circular-progress
          show-value
          class="text-purple-5 q-ma-md"
          :value="value"
          size="120px"
          track-color="purple-3"
          color="orange-1"
        >
          <span class="text-h6 text-bold">{{ totalQuestionsAnswered }}/20</span>
        </q-circular-progress>
      </div>
      <div class="col-md-7 col-xs-7 column info-right" v-if="audienceScore">
        <p class="text-purple-5">You're <span class="position text-h5 text-bold">{{ audienceScore.player_leaderboard_position }}</span><sup>{{ setSuffix(audienceScore.player_leaderboard_position) }}</sup> on today's leaderboard.</p>
        <p class="text-purple-5">You earned <span class="position text-h6 text-orange-1 text-bold">{{ audienceScore.total_points }}</span>pts</p>
      </div>
    </div>
    <div class="row bottom-sheet text-center">
      <div class="col column">
        <!--  -->
        <div class="user">
          <user-avatar></user-avatar>

          <p class="text-bold text-h6 text-white q-mt-sm" v-if="audience">Well done!</p>
        </div>
        <div class="actions column justify-center">
          <q-btn size="sm" @click="share" class="share" rounded label="Share" />
          <!-- <q-btn @click="goToLeaderboard" rounded class="q-mt-lg" color="purple-5" label="Check Leaderboards"/> -->
          <q-btn @click="this.$router.push({ name: 'Isabisport GameRules' })" rounded class="q-mt-lg" color="purple-5" label="Play another Game"/>
        </div>
      </div>
    </div>
    <SocialMediaShare
      @changeSocialShare="changeSocialShare"
      message=""
      :dialog="socialShareActive"
      :shareUrl="shareUrl"
    ></SocialMediaShare>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import './_gameResult.scss';
import UserAvatar from 'src/components/Commons/UserAvatar.vue';
import SocialMediaShare from '../../../components/Commons/SocialMediaShare';

export default {
  name: 'game-result',
  components: {
    SocialMediaShare,
    UserAvatar,
  },
  data() {
    return {
      value: (16 / 20) * 100,
      positionSuffix: 'th',
      socialShareActive: false,
      shareUrl: '',
    };
  },
  computed: {
    ...mapState('audience', [
      'referralDetails',
      'gameSummary',
      'audienceProfile',
    ]),
    ...mapState('game', [
      'audienceScore',
      'totalQuestionsAnswered',
    ]),
    ...mapState('referral', [
      'referral',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
  },
  mounted() {
    this.shareUrl = `${window.location.host}?r=${this.referral.code}`;
  },
  created() {
    this.$q.loading.show();
    const campaignId = process.env.CAMPAIGN_ID;
    const audienceId = this.audienceProfile.id;
    Promise.all([
      this.$store.dispatch('audience/getAudienceSummary', audienceId),
      this.$store.dispatch('game/getGameLeaderboard', { campaignId, audienceId }),
    ]).then(() => this.$q.loading.hide());

    if (!this.referral) {
      Promise.all([
        this.$store.dispatch('audience/generateReferralCode', audienceId),
        this.$store.dispatch('audience/getReferralCode', audienceId),
      ]);
    }
  },
  methods: {
    goToLeaderboard() {
      this.$router.push({ name: 'Isabisport GameRules', params: { default: 'Leaderboard' } });
    },
    changeSocialShare(val) {
      this.socialShareActive = val;
    },
    share() {
      if (!this.referral) {
        // get referral code
        this.$store.dispatch('audience/getReferralCode', this.audienceProfile.id);
      }
      this.socialShareActive = true;
    },
    setSuffix(position) {
      position = String(position);
      const lastString = position[position.length - 1];
      let suff = '';

      switch (lastString) {
        case '1':
          suff = 'st';
          break;
        case '2':
          suff = 'nd';
          break;
        case '3':
          suff = 'rd';
          break;
        default:
          suff = 'th';
          break;
      }
      return suff;
    },
  },
};
</script>
