<template>
  <div class="isabisportRules">

    <q-list bordered separator>
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon size="50px" color="primary" name="img:/icons/win.png" />
        </q-item-section>
        <q-item-section class="inline-display text-white">
          Answer as many questions as you can within <strong>120 seconds 😁</strong>. Each question carries 5 points.
        </q-item-section>
      </q-item>
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon size="50px" color="primary" name="img:/icons/clock.svg" />
        </q-item-section>
        <q-item-section class="inline-display text-white">
          The Quiz starts everyday at <strong>6:00AM</strong> & ends at <strong>8:00PM</strong>.
        </q-item-section>
      </q-item>
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon size="50px" color="primary" name="img:/icons/gift.png" />
        </q-item-section>
        <!-- <q-item-section class="inline-display text-white"><strong>Top 20</strong> on the leaderboard at the end of the daily quiz will earn <strong>N200</strong> each</q-item-section> -->
        <q-item-section class="inline-display text-white">
          <div class="text-weight-bold">Winning categories (Enough to go round)</div>
          <div class="q-mt-md">
            (Be the highest player with the highest game point + referral point to win as stated below)
          </div>
          <div class="column q-mt-md">
            <div><span class="text-weight-bold">Daily winning</span> <small> (Game points+Referral Points)</small></div>
            <div>1st place - <strong>N10,000</strong></div>
            <div>2nd place - <strong>N7,000</strong></div>
            <div>3rd place - <strong>N3,000</strong></div>
          </div>

          <div class="column q-mt-md">
            <div><span class="text-weight-bold">Weekly winning</span> <small> (Game points+Referral Points)</small></div>
            <div>1st place - <strong>N50,000</strong></div>
            <div>2nd place - <strong>N30,000</strong></div>
            <div>3rd place - <strong>N20,000</strong></div>
          </div>

          <div class="column q-mt-md">
            <div><span class="text-weight-bold">Monthly winner</span> <small> (Game points+Referral Points)</small></div>
            <div>1st place - <strong>N100,000</strong></div>
          </div>

          <div class="q-mt-md">
            (Be the highest player with the highest game point and win as stated below)
          </div>

          <div class="column q-mt-md">
            <div><span class="text-weight-bold">Seasonal winner</span> <small> (Game points)</small></div>
            <div>1st place - <strong>N500,000</strong></div>
          </div>
        </q-item-section>
      </q-item>
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-icon size="50px" color="primary" name="img:/icons/team.svg" />
        </q-item-section>
        <q-item-section class=" text-white flex flex-start">
          <div>
            <strong>{{ totalParticipant }}</strong> people have played this quiz today
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'rules',
  props: {
    totalParticipant: {
      type: Number,
    },
  },
  data() {
    return {
      totalQuestions: 20,
      questionTimeout: 10,
    };
  },
  computed: {
    ...mapState('campaign', [
      'participants',
    ]),
  },
};
</script>
