.appPin {
  display: flex;
  justify-content: space-evenly;
  // margin: 0px 20px 0px 20px;
  input {
    width: 15%;
    background-color: $light;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    height: 61px;
    border: none;
    font-size: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    text-indent: 5px;
  }
  input:focus, input:active, input:focus {
    background-image: none;
    background-color: #FFF;
  }
}
