<template>
  <transition appear enter-active-class="animated slideInRight">
    <form class="appPin">
      <input
        v-for="(index) in numberOfPinFields"
        :key="index"
        input-class="text-center"
        @input="handleInput($event, index)"
        @keyup.delete="handleDelete(index)"
        v-number-only
        type="password"
        inputmode="numeric"
        :ref="index"
        v-model="pinInputs[index]"
      />
    </form>
  </transition>
</template>

<script>
const generatePinInputs = (numberOfPinFields) => {
  const objectOfPinFields = {};
  // create an array of values of the number of pin fields
  Array(numberOfPinFields).fill('').forEach((field, index) => {
    objectOfPinFields[index + 1] = field;
  });
  return objectOfPinFields;
};
export default {
  name: 'app-pin',
  props: {
    numberOfPinFields: {
      type: Number,
      default: 4,
    },

  },
  mounted() {
    // switched from quasar's q-input to input because of error thrown about v-model mutating prop value
    // After all asynchronous actions (including dialog popup showing pin fields), focus on the first input

    // once input has rendered, focus on the first input
    this.$nextTick(() => {
      this.$refs[1][0].focus();
    });
  },
  data() {
    return {
      pinInputs: generatePinInputs(this.numberOfPinFields),
    };
  },

  computed: {
    pinFilled() {
      return Object.values(this.pinInputs).join('');
    },
  },

  watch: {
    pinFilled(newValue) {
      // if all 4 pin fields have been completed, emit completed
      if (newValue.length === this.numberOfPinFields) {
        this.$emit('completed', newValue);
      }
    },
  },
  methods: {
    handleInput(e, index) {
      const { value } = e.target;
      // if there is no value, do nothing - the deletion of a value also calls the input value
      // this prevents an error when a value is deleted
      if (!value) {
        return;
      }
      // replace the data property with the latest value that is typed
      this.pinInputs[index] = value.slice(-1);
      // sometimes this is required by vue to overwrite browser behaviour
      this.$refs[index][0].value = value.slice(-1);
      if (index !== this.numberOfPinFields) {
        this.$refs[index + 1][0].focus();
      }
    },
    handleDelete(index) {
      if (index !== 1) {
        this.$refs[index - 1][0].focus();
      }
    },
  },
};
</script>

<style lang="scss" src="./_pinInput.scss">
</style>
