.isabiPlayRules {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  &__content {
    background-color: #8587BC;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    // padding: 10px;
    &-header {
      display: flex;
      justify-content: space-between;
      .q-btn {
        .q-btn__wrapper {
          width: 140px !important;
        }
      }
      .rules.q-btn {
        border-radius: 25px 0px 25px 0px;
      }
      .board.q-btn {
        border-radius: 0px 25px 0px 25px;
      }
    }
  }
  .q-btn {
    .q-btn__wrapper {
      // background: #3E4094;
      width: 130px;
    }
  }
}
.tab {
  &--active {
    background-color: $purple-5 !important;
    color: $light !important;
  }
}
