<template>
  <q-page class="isabiPlayRules column">
    <div class="isabiPlayRules__header q-pa-md row justify-between q-mt-md">
      <div>
        <q-img
          src="/apps/isabisport/isabisport.png"
          spinner-color="accent"
          spinner-size="20px"
          width="120px"
        />
      </div>
      <div>
        <q-btn @click="startGame" rounded color="purple-5" label="Play" />
        <div class="text-negative text-center q-mt-sm">{{ availableGameplay.available_game_plays }} {{ isAvailableGameplayGreaterThanOne ? 'games' : 'game' }} left</div>
      </div>
    </div>
    <!-- <q-space /> -->
    <div class="isabiPlayRules__content">
      <div class="isabiPlayRules__content-header q-mt-md q-pa-sm">
        <q-btn ref="Rules" @click="setComponent('Rules')" color="white" text-color="purple-5" class="rules tab tab--active" label="Rules" />
        <q-btn ref="Leaderboard" @click="setComponent('Leaderboard')" color="white" text-color="purple-5" class="board tab" label="Leaderboard" />
      </div>
      <div class="isabiPlayRules__content-tabcontent q-mt-sm">
        <component
          :data="leaderboard"
          :audienceScore="audienceScore"
          :totalParticipant="leaderboard.length || 0"
          :availableGameplay="availableGameplay"
          :campaignDetails="campaignDetails"
          @filterLeaderboard="filterLeaderboard"
          :is="componentId"></component>
      </div>
    </div>
    <SubscriptionModal
      v-if="subscriptionModalActive"
      :isActive="subscriptionModalActive"
      :audienceId="userId"
      :thirdPartyRef="thirdPartyRef"
      :tranxId="tranxId"
      :subId="subId"
      :email="audienceProfile.email"
      @playGame="startGame"
      @paymentSuccessful="getAvailableGameplay"
      @closeModal="$store.commit('audience/SET_SUB_MODAL', false)"
    />
    <PromptModal
      v-if="profilePrompt"
      :isActive="profilePrompt"
    />
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import './_rulesAndLeaderboard.scss';
import { getObject, getItem } from 'src/helpers/localStorage';
import { componentStateMixin } from '../../../../../mixins/componentStateMixin';
import Notify from '../../../../../config/notify';
import Rules from '../../../../../components/apps/isabisport/Rules/Rules';
import Leaderboard from '../../../../../components/apps/isabisport/Leaderboard/Leaderboard';
import SubscriptionModal from '../../../../../components/apps/isabisport/SubscriptionModal/SubscriptionModal';
import PromptModal from '../../../../../components/apps/isabisport/PromptModal/PromptModal';

export default {
  name: 'isabisport-rules-and-leaderboard',
  props: ['default'],
  mixins: [componentStateMixin],
  data() {
    return {
      componentId: 'Rules',
      // availableGameplay: null,
      subscriptionModal: false,
      profilePrompt: false,
      thirdPartyRef: null,
      subId: null,
      tranxId: null,
    };
  },
  components: {
    Rules,
    Leaderboard,
    SubscriptionModal,
    PromptModal,
  },
  computed: {
    ...mapState('campaign', [
      'campaignDetails',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('game', [
      'leaderboard',
      'audienceScore',
    ]),
    ...mapState('audience', [
      'audienceProfile',
      'availableGameplay',
      'subscriptionModalActive',
    ]),
    isAvailableGameplayGreaterThanOne() {
      return this.availableGameplay.available_game_plays > 1;
    },
  },
  mounted() {
    window.scrollTo(0, 0);

    this.checkForPaymentRef();
    if (this.default) {
      this.componentId = this.default;
      this.setActiveClass(this.componentId);
    }
  },
  watch: {
    componentId(refId) {
      this.setActiveClass(refId, 'tab', 'tab--active');
    },
  },
  methods: {
    setComponent(componentId) {
      this.componentId = componentId;
    },
    filterLeaderboard(value) {
      this.$q.loading.show();
      this.$store.dispatch('game/getMainLeaderboard', value)
        .then(() => this.$q.loading.hide());
    },
    getAvailableGameplay() {
      this.$q.loading.show();
      const userId = this.audienceProfile.id;
      this.$store.dispatch('audience/getAvailableGamePlay', userId)
        .then(() => this.$q.loading.hide());
    },
    async checkForPaymentRef() {
      const { tx_ref: trxref, sub_id: subId, transaction_id: tranxId } = this.$route.query;

      if (subId && trxref) {
        this.$q.loading.show();

        this.thirdPartyRef = trxref;
        this.subId = subId;
        this.tranxId = tranxId;

        this.$store.commit('audience/SET_SUB_MODAL', true);
      }
    },
    async startGame() {
      const userId = this.audienceProfile.id;
      if (!this.audienceProfile.email || !this.audienceProfile.account_number || !this.audienceProfile.bank_name) {
        this.profilePrompt = true;
        return false;
      }
      if (this.availableGameplay.available_game_plays > 0) {
        this.$store.dispatch('game/startGamePlay', { userId, referrerId: this.$route.query.referrerId || null })
          .then((data) => {
            if (data) {
              this.$router.push({ name: 'Isabisport Gameplay' });
            }
          })
          .catch((e) => {
            Notify.warning(`${e.response.data.message}`);
          });
        return false;
      }
      if (!this.availableGameplay || this.availableGameplay.available_game_plays < 1) {
        this.$store.commit('audience/SET_SUB_MODAL', true);
      }
      return false;
    },
    consumeGameplay() {
      this.$store.dispatch('subscription/consumeGameplay', this.audienceProfile.id);
    },
  },
  async created() {
    this.$q.loading.show();
    // const audienceId = this.userId;
    const userId = getItem('userId');
    const campaignId = process.env.CAMPAIGN_ID;
    const audienceProfile = getObject('audienceProfile');

    if (!audienceProfile) {
      await this.$store.dispatch('audience/getAudienceProfile');
    }
    Promise.all([
      // this.$store.dispatch('audience/awardFreeGameplay', audienceId),
      this.$store.dispatch('campaign/getCampaignDetails', campaignId),
      this.$store.dispatch('game/getMainLeaderboard'),
      this.$store.dispatch('audience/getAvailableGamePlay', userId),
      // this.$store.dispatch('audience/updateProfile', { audience_id: audienceId }),
    ]).then(() => {
      this.$q.loading.hide();
    })
      .catch(() => {
        this.$q.loading.hide();
      })
      .finally(() => {
        this.$q.loading.hide();
      });
  },
};
</script>
