.successPage {
  background: url('/bg/source.gif');
  &__info {
    color: #262529;
  }
  &__action {
    width: 100%;
    .q-btn.share {
      color: #FFF;
      background: transparent linear-gradient(270deg, #F69632 0%, #F6C032 100%) 0% 0% no-repeat padding-box;
    }
    .q-btn {
      margin: 0 auto;
      margin-bottom: 10px !important;
      width: 80%;
      padding: 5px;
      text-transform: capitalize;
      font-size: 17px;
      .q-btn__wrapper::before {
        box-shadow: none;
      }
    }
  }
}
