<template>
  <div class="successPage">
    <div class="column items-center">
      <div class="successPage__logo q-mt-md">
        <q-img
          src="/apps/isabisport/isabisport.png"
          style="width: 160px"
        />
      </div>

      <div class="successPage__headerText text-h5 text-bold text-purple-2 q-mt-lg">
        You’re 1st Congratulations!
      </div>

      <div class="successPage__icon q-mt-lg">
        <q-icon size="80px" name="img:/icons/online-payment.svg" />
      </div>

      <div class="successPage__info text-center q-pa-xl text-body1">
        You've won NGN2,000.00 from Isabi sports! Come back tomorrow for a chance to win again
      </div>

      <div class="successPage__action column q-mt-md">
         <q-btn class="share" rounded label="Share" />
         <q-btn rounded class="q-mt-lg" color="purple-5" label="Check Leaderboards"/>
      </div>
    </div>
  </div>
</template>

<script>
import './_successPage.scss';

export default {
  name: 'success',
  mounted() {
    this.$q.loading.hide();
  },
};
</script>
