<template>
  <div class="confirmPin">
    <h3 class="text-h5 text-center text-secondary text-bold">Password Reset</h3>
    <q-separator class="custom" spaced inset />

    <p class="text-center">
      Confirm your new Pin.
    </p>
    <div class="action">
      <PinInput @completed="confirmNewPin" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { getItem, clearAll } from 'src/helpers/localStorage';
import PinInput from '../../../../components/App/PinInput/PinInput.vue';
import Notify from '../../../../config/notify';

export default {
  name: 'isabisport-confirm-pin',
  computed: {
    ...mapState('setup', [
      'isNewUser',
    ]),
    ...mapState('auth', [
      'pin',
      'token',
      'phoneNumber',
      'confirmResetPinSuccess',
      'confirmResetPinError',
    ]),
  },
  components: {
    PinInput,
  },
  methods: {
    async confirmNewPin(pin) {
      const phoneNumber = getItem('phoneNumber');

      // if not pin in store state due to refresh of page
      if (!this.$store.state.auth.pin) {
        Notify.error('Initial pin not detected');
        this.$emit('setComponent', 'EnterResetPin');
      }

      // if pin is complete and the pin in the store state does not match the entered pin
      if (pin.split('').length === 4 && pin !== this.$store.state.auth.pin) {
        Notify.error('Pin miss match');
        this.$emit('setComponent', 'EnterResetPin');
      }

      // if pin field is complete and the pin in the store state matches the entered pin
      if (pin.split('').length === 4 && pin === this.$store.state.auth.pin) {
        // dispatch endpoint for confirming pin reset
        const payload = {
          phone_number: phoneNumber,
          new_pin: pin,
        };
        this.$q.loading.show();
        await this.$store.dispatch('auth/confirmPinReset', payload);
        this.$q.loading.hide();

        if (this.confirmResetPinSuccess) {
          clearAll();
          this.$router.push({ name: 'Isabisport Login' });
          Notify.success('Password reset successful');
        } else {
          Notify.error(this.confirmResetPinError);
        }
      }
    },
  },
};
</script>
