<template>
  <div class="confirmPin">
    <h3 class="text-h5 text-center text-secondary text-bold">One Last Step</h3>
    <q-separator class="custom" spaced inset />

    <p class="text-center">
      Confirm Pin
    </p>
    <div class="action">
      <PinInput @completed="setPin" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import authMixin from 'src/mixins/auth';
import PinInput from '../../../../components/App/PinInput/PinInput.vue';
import Notify from '../../../../config/notify';

export default {
  name: 'isabisport-confirm-pin',
  mixins: [authMixin],
  computed: {
    ...mapState('auth', [
      'pin',
      'createPinSuccess',
      'createPinError',
      'userId',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
  },
  components: {
    PinInput,
  },
  methods: {
    async dispatchCreatePinAPI(pin) {
      await this.$store.dispatch('auth/createPin', pin);
    },
    async setPin(pin) {
      try {
        if (pin === this.pin) {
          this.$q.loading.show();
          await this.dispatchCreatePinAPI(pin);
          this.$q.loading.hide();
          if (this.createPinSuccess) {
            Notify.success('Pin set successfully');
            this.$q.loading.show();
            await this.loginUser(pin);
            this.$q.loading.hide();
          } else {
            Notify.success(this.createPinError);
          }
          Promise.all([
            // this.$store.dispatch('audience/awardFreeGameplay', this.userId),
            this.$store.dispatch('referral/generateReferral', this.audienceProfile.id),
          ]);
          // if there's a pin mismatch
        } else {
          Notify.error('Pin does not match');
          this.$emit('setComponent', 'CreatePin');
        }
      } catch (e) {
        Notify.error('There was an error creating the pin. Please try again later');
      }
      this.$q.loading.hide();
    },
  },
};
</script>
