<template>
  <div class="">
    <div class="text-h5 text-center text-secondary text-bold">Welcome</div>
    <q-separator class="custom" spaced inset />
    <p class="q-pa-sm q-mt-md text-center">
      You’re new here! Enter the <span class="text-bold">One Time Password</span>
      sent to <strong>{{ phoneNumberOTPSentTo }}</strong> to confirm your number
    </p>
    <div class="action">
      <PinInput @completed="validatePin" :numberOfPinFields="6" />

      <div class="enter-otp__otp-section row items-center justify-center text q-mt-sm">
        <span class="text-italic text-grey col-6 text-right text-bold">Didn’t get an OTP ?</span>
        <q-btn
          flat :loading="resending"
          color="secondary"
          no-caps
          size="sm"
          class="enter-otp__btn text-bold col-6"
          label="Resend OTP"
          @click="resendOtp"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { getItem } from 'src/helpers/localStorage';
import authMixin from 'src/mixins/auth';
import Notify from '../../../../config/notify';
import PinInput from '../../../../components/App/PinInput/PinInput.vue';

export default {
  name: 'topbrain-otp-input',
  data() {
    return {
      resending: false,
    };
  },
  computed: {
    ...mapState('audience', [
      'audienceProfile',
    ]),
    ...mapState('auth', [
      'pinId',
      'validateOtpSuccess',
      'otpVerificationMessage',
    ]),
    phoneNumberOTPSentTo() {
      return getItem('phoneNumber');
    },
  },
  mixins: [authMixin],
  components: {
    PinInput,
  },
  methods: {
    async resendOtp() {
      this.resending = true;
      try {
        await this.dispatchResendOtpApi();
        Notify.success('OTP Resent Successfully');
      } catch (err) {
        this.resending = false;
        Notify.error('There was a problem sending the OTP. Please try again.');
      }
    },
    async validatePin(otp) {
      this.$q.loading.show();
      try {
        const payload = {
          pinId: getItem('pinId'),
          otp,
        };
        await this.dispatchValidateOtpApi(payload);
        this.$q.loading.hide();
        if (this.validateOtpSuccess) {
          Notify.success(this.otpVerificationMessage);
          this.$emit('setComponent', 'CreatePin');
        } else {
          Notify.error(this.otpVerificationMessage);
        }
      } catch (err) {
        this.$q.loading.hide();
      }
    },
    async dispatchResendOtpApi() {
      const phoneNumber = getItem('phoneNumber');
      this.$store.dispatch('auth/requestOtp', phoneNumber);
    },
  },
};
</script>

<style lang="scss" scoped>
.enter-otp {
  &__otp-section {
    font-size: .8rem;
  }
  &__btn {
    text-decoration: underline;
  }
}
::v-deep .q-btn__content {
  justify-content: start !important;
}

::v-deep .block {
  font-size: .8rem;
}

</style>
