<template>
  <div class="">
    <div class="text-h5 text-center text-secondary text-bold">Password Reset</div>
    <q-separator class="custom" spaced inset />

    <p class="q-mt-xl text-center">
      Enter a New Pin
    </p>
    <div class="action">
      <PinInput @completed="setPin" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import PinInput from '../../../../components/App/PinInput/PinInput.vue';

export default {
  name: 'isabisport-create-pin',
  computed: {
    ...mapState('auth', [
      'user',
    ]),
  },
  components: {
    PinInput,
  },
  methods: {
    async setPin(data) {
      if (data.split('').length === 4) {
        await this.$store.commit('auth/SET_NEW_PIN', data);
        this.$emit('setComponent', 'ConfirmResetPin');
      }
    },
  },
};
</script>
