<template>
  <div class="">
    <div class="text-h5 text-center text-secondary text-bold">Password Reset</div>
    <q-separator class="custom" spaced inset />
    <p class="q-pa-sm q-mt-md text-center">
      Enter the OTP sent to you.
    </p>
    <div class="action">
      <PinInput @completed="validateOtp" :numberOfPinFields="6" />
      <div class="text-center q-mt-lg">
        Didn’t get an OTP ? <q-btn flat :loading="resending" class="text-italic" color="secondary" no-caps size="md" label="Resend OTP" @click="resendOtp" />
        <q-btn class="q-mt-md" color="primary" flat no-caps label="Go Back" @click="$router.back()" />
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import authMixin from 'src/mixins/auth';
import { getItem } from 'src/helpers/localStorage';
import Notify from '../../../../config/notify';
import PinInput from '../../../../components/App/PinInput/PinInput.vue';

export default {
  name: 'isabisport-otp-input',
  data() {
    return {
      resending: false,
    };
  },
  computed: {
    ...mapState('auth', [
      'phoneNumber',
      'resetPinSuccess',
      'otpVerificationMessage',
      'validateOtpSuccess',
    ]),
  },
  mixins: [authMixin],
  components: {
    PinInput,
  },
  mounted() {

  },
  methods: {
    showResend() {
      this.resending = true;
      setTimeout(() => {
        this.resending = false;
      }, 20000);
    },
    async resendOtp() {
      this.resending = true;
      await this.$store.dispatch('auth/resetPin', this.phoneNumber);
      if (this.resetPinSuccess) {
        Notify.success('Otp Resent Successfully');
      } else {
        Notify.error('There was an error resending the OTP');
        this.showResend();
      }
    },
    async validateOtp(otp) {
      if (otp.split('').length === 6) {
        const payload = {
          pinId: getItem('pinId'),
          otp,
        };
        this.$q.loading.show();
        await this.dispatchValidateOtpApi(payload);
        this.$q.loading.hide();
        if (this.validateOtpSuccess) {
          Notify.success(this.otpVerificationMessage);
          this.$emit('setComponent', 'EnterResetPin');
        } else {
          Notify.error(this.otpVerificationMessage);
        }
      }
    },
  },
};
</script>
