<template>
  <q-page class="isabihomePage">
    <div class="columns">
      <div class="header">
        <q-img
          src="/apps/isabisport/bg-isabi.png"
          :ratio="16/9"
          spinner-color="accent"
          spinner-size="50px"
        >
        </q-img>
      </div>
      <q-dialog v-model="isActive" persistent>
        <q-card style="border-radius: 20px; height: 500px" class="bg-white no-shadow">
          <q-card-section class="row items-center q-mt-xl">
            <component
              :is="componentId"
              @setComponent="setComponent"
            ></component>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import EnterOtp from './EnterOtp.vue';
import CreatePin from './CreatePin.vue';
import ConfirmPin from './ConfirmPin.vue';
import EnterResetOtp from './EnterResetOtp';
import EnterResetPin from './EnterResetPin';
import ConfirmResetPin from './ConfirmResetPin';

export default {
  name: 'auth',
  data() {
    return {
      componentId: null,
      isActive: true,
    };
  },
  components: {
    EnterOtp,
    CreatePin,
    ConfirmPin,
    EnterResetOtp,
    EnterResetPin,
    ConfirmResetPin,
  },
  mounted() {
    this.componentId = this.$route.params.type;
  },
  methods: {
    setComponent(value) {
      this.componentId = value;
    },
  },
};
</script>
