<template>
  <q-page class="isabihomePage">
    <div class="columns">
      <div class="header">
        <q-img
          src="/apps/isabisport/bg-isabi.png"
          :ratio="16/9"
          spinner-color="accent"
          spinner-size="50px"
        >
          <div class="absolute-full flex flex-center">
            <q-img width="60%" src="/icons/isabisport.png" />
          </div>
        </q-img>
      </div>
      <div class="columns__content q-mt-lg">
        <q-avatar v-if="hasSent" size="100px" font-size="52px" color="purple-2" text-color="white">
          <q-icon name="mark_email_read" color="amber-4" />
        </q-avatar>
        <p class="columns__content-text q-mt-lg">
          {{ hasSent ? 'A reset link has been sent to your email. Click the link in your email to reset PIN' : 'Insert your registered phone number to receive reset password instruction' }}
        </p>

        <div class="columns__content-action q-mt-md">
          <q-input
            v-if="!hasSent"
            stack-label
            ref="phone"
            mask="###########"
            placeholder="080 *** ** ***"
            :rules="
              [
                 val => !!val || 'Please enter your phone number',
                 val => val.length === 11 || 'Phone number must be 11 digits'
              ]"
            rounded
            outlined
            v-model="phone"
            input-class="input-style"
          >
          <template v-slot:prepend>
            <q-avatar>
              <img src="~assets/main/icons/whatsapp.svg">
            </q-avatar>
          </template>
          </q-input>
          <q-btn class="first_time q-mt-md" rounded color="primary" :label="hasSent ? 'Login' : 'Send Reset Link'" no-caps @click="hasSent ? goToLogin() : sendResetLink()" />

        </div>
        <q-btn class="q-mt-md" color="primary" flat no-caps label="Go Back" @click="$router.back()" />
      </div>
    </div>
  </q-page>
</template>

<script>
import '../Loginpage/_isabiIndex.scss';
import { mapState } from 'vuex';
import Notify from 'src/config/notify';
import { saveItem } from 'src/helpers/localStorage';

export default {
  name: 'isabisport-reset-pin',
  data() {
    return {
      phone: '',
      hasSent: false,
    };
  },
  computed: {
    ...mapState('auth', [
      'resetPinSuccess',
      'resetPinError',
    ]),
  },
  methods: {
    async sendResetLink() {
      this.$refs.phone.validate();
      if (this.$refs.phone.hasError) {
        return false;
      }
      const payload = {
        phone_number: this.phone,
      };
      this.$q.loading.show();
      await this.$store.dispatch('auth/resetPin', payload);
      if (this.resetPinSuccess) {
        saveItem('phoneNumber', this.phone);
        // if successful show modal
        this.$router.push({ name: 'Isabisport AuthPages', params: { type: 'EnterResetOtp' } });
      } else {
        Notify.error(this.resetPinError);
      }
      this.$q.loading.hide();
      return true;
    },
    goToLogin() {
      this.$router.push({ name: 'Isabisport Login' });
    },
  },
};
</script>
