.gamesOptions {
  h5 {
    color: $grey;
    font-weight: 500;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    .appCard {
      .q-card {
        position: relative;
        margin-bottom: 2rem;
        text-align: left;
        .q-card__section {
          h5 {
            color: white;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 10px;
          }
          p {
            color: $light;
            font-size: 15px;
            font-weight: 300;
          }
        }
      }
    }
  }
  .q-img {
    position: absolute;
    width: 25%;
    right: 0;
  }
  .game-icon2 {
    margin-top: -2.8rem;
    margin-left: -3rem;
  }
  .game-icon1 {
    margin-top: -2.5rem;
    margin-left: 3rem;
  }
}


