<template>
  <div class="gamesOptions">
    <h5>Games</h5>

    <div class="gamesOptions__list">
      <div @click="$router.push({ name: 'Instant Reward' })">
        <Card customClass="gradient__bg-orange rounded-corner fullwidth">
          <template slot="card-content">
            <q-img class="game-icon1" src="/icons/gameicon1.png" />
            <h5>Instant Rewards</h5>
            <p>Show your prowess with quick games. Get the required points to win!</p>
          </template>
        </Card>
      </div>
      <div @click="$router.push({ name: 'Leaderboard Games' })" >
        <Card customClass="gradient__bg-blue rounded-corner fullwidth">
          <template slot="card-content">
            <q-img class="game-icon2" src="/icons/gameicon2.png" />
            <h5>Leaderboard Games</h5>
            <p>The more the merrier! Compete with other PEEPs for a chance of even bigger rewards.</p>
          </template>
        </Card>
      </div>
    </div>
  </div>
</template>

<script>
import './_gamesOptions.scss';
import Card from '../../App/Card/Card';

export default {
  name: 'games-options',
  components: {
    Card,
  },
};
</script>
