.dashboardLayout {
  .notification {
    color: #8e8a8a;
    i {
      font-size: 2rem;
    }
  }
  .q-toolbar__title {
    display: flex;
    justify-content: center;

    .avatar-border {
      border: 1px solid $secondary;
      border-radius: 50%;
      padding: 2px;
    }
  }
  a {
    text-decoration: none;
  }
  .menu__list {
    &-item {
      padding: 1.3rem;
      font-size: 1.05rem;
      color: $p-color;
      font-weight: 400;
    }
    &-separator {
      background-color: #f0f4f5;
    }
  }
}
