<template>
  <q-layout class="dashboardLayout" view="hHh lpR fFf">
    <q-header class="bg-info text-white">
      <q-toolbar class="text-primary q-mt-sm">
        <q-btn @click="drawer = !drawer" unelevated round color="secondary" size="12px" icon="menu" />
        <q-toolbar-title>
          <div @click="$router.push({ name: 'My Profile' })" class="avatar-border">
            <user-avatar></user-avatar>
          </div>
        </q-toolbar-title>

        <!-- <q-btn size="12px" class="notification" unelevated round flat icon="notifications">
          <q-badge round color="red" floating>{{ notificationCount }}</q-badge>
        </q-btn> -->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      :width="300"
      :breakpoint="500"
      overlay
      bordered
      content-class="bg-white"
    >
      <q-img class="absolute-top" src="" style="height: 120px">
        <div class="absolute-bottom bg-transparent">
          <q-avatar size="106px" class="q-mb-sm">
            <img src="~assets/main/logos/arena-logo.svg">
          </q-avatar>
        </div>
      </q-img>

      <q-scroll-area class="" style="height: calc(100% - 150px); margin-top: 100px; border-right: 1px solid #ddd">
        <q-list>

          <template v-for="(menuItem, index) in mainMenu">
            <router-link :to="menuItem.path" :key="index">
              <q-item class="menu__list-item" :key="index" clickable :active="menuItem.label === 'Outbox'" v-ripple>
                <q-item-section avatar>
                  <q-icon :name="`img:${menuItem.icon}`" />
                </q-item-section>
                <q-item-section>
                  {{ menuItem.label }}
                </q-item-section>
              </q-item>
            </router-link>
            <q-separator class="menu__list-separator" :key="'sep' + index" v-if="menuItem.separator" />
          </template>

        </q-list>
      </q-scroll-area>

      <div class="absolute-bottom">
        <q-list>
          <q-item @click="logOut" class="menu__list-item" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="img:/icons/logout.svg" />
            </q-item-section>
            <q-item-section>
              Log Out
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { mapGetters } from 'vuex';
import './_dashboardLayout.scss';
import UserAvatar from 'src/components/Commons/UserAvatar.vue';
import { mainMenu } from './menuList';

export default {
  name: 'dashboard',
  data() {
    return {
      drawer: false,
      mainMenu,
    };
  },
  components: {
    UserAvatar,
  },
  computed: {
    ...mapGetters('audience', [
      'notificationCount',
    ]),
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/signOut')
        .then(() => {
          this.$router.replace({ name: 'landing-page' });
        });
    },
  },
};
</script>
