<template>
  <q-layout class="dashboardLayout" view="hHh lpR fFf">
    <q-header class="bg-info text-white">
      <q-toolbar class="text-primary q-mt-sm">
        <q-btn @click="drawer = !drawer" unelevated round color="secondary" size="12px" icon="menu" />
        <q-toolbar-title>
          <div @click="$router.push({ name: 'Profile' })" class="avatar-border">
            <user-avatar></user-avatar>
          </div>
        </q-toolbar-title>

        <!-- <q-btn size="12px" class="notification" unelevated round flat icon="notifications">
          <q-badge round color="red" floating>{{ notificationCount }}</q-badge>
        </q-btn> -->
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      :width="300"
      :breakpoint="500"
      overlay
      bordered
      content-class="bg-white"
    >
      <q-img class="absolute-top" src="" style="height: 120px">
        <div class="absolute-bottom bg-transparent">
          <q-avatar size="106px" class="q-mb-sm">
            <q-img style="width: 120px" src="/icons/isabisport.png" />
          </q-avatar>
        </div>
      </q-img>

      <q-scroll-area class="" style="height: calc(100% - 150px); margin-top: 100px; border-right: 1px solid #ddd">
        <q-list>

          <template v-for="(menuItem, index) in isabiSportMenu">
            <router-link :to="menuItem.path" :key="index">
              <q-item class="menu__list-item" :key="index" clickable :active="menuItem.label === 'Outbox'" v-ripple>
                <q-item-section avatar>
                  <q-icon color="purple-2" :name="menuItem.icon" />
                </q-item-section>
                <q-item-section>
                  {{ menuItem.label }}
                </q-item-section>
              </q-item>
            </router-link>
            <q-separator class="menu__list-separator" :key="'sep' + index" v-if="menuItem.separator" />
          </template>

          <q-separator class="menu__list-separator" />
          <q-item class="menu__list-item" @click="share" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="purple-2" name="share" />
            </q-item-section>
            <q-item-section>
              Share
            </q-item-section>
            <q-item-section side top>
              <q-item-label caption>
                <span class="text-white gradient__bg-purple-2 q-pa-sm text-weight-bold" style="border-radius: 0 20px 20px 0">+ 2pts</span>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-separator class="menu__list-separator" />
          <q-item class="menu__list-item" @click="subscribe" clickable v-ripple>
            <q-item-section avatar>
              <q-icon color="purple-2" name="add_circle" />
            </q-item-section>
            <q-item-section>
              Subscribe
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <div class="absolute-bottom">
        <q-list>
          <q-item @click="logOut" class="menu__list-item" clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="logout" />
            </q-item-section>
            <q-item-section>
              Log Out
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <SocialMediaShare
      @changeSocialShare="changeSocialShare"
      message=""
      :dialog="socialShareActive"
      :shareUrl="shareUrl"
    ></SocialMediaShare>

    <Dialog
      custom-class="rounded"
      position="standard"
      :isActive="stillHasGamplay"
      :hasActions="true"
      width="300px"
      bgColor="#FFFFFF"
    >
      <template slot="content">
        <div class="q-pa-lg text-center">
          <q-icon size="40px" name="add_circle" color="purple-2" />
          <div class="text-h6 text-purple-2 text-weight-bold">You've subscribed</div>
          <div class="text-body q-mt-lg text-purple-2" >You still have {{ availableGameplay.available_game_plays }} gameplays left. Play now for a chance to win</div>
          <div class="text-center q-mt-xl">
            <q-btn @click="stillHasGamplay = false" style="width: 200px" rounded color="warning" unelevated no-caps padding="13px" class="" label="Play a game" />
          </div>
        </div>
      </template>
      <template slot="actions">
        <!--  -->
      </template>
    </Dialog>
  </q-layout>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import './_dashboardLayout.scss';
import Dialog from 'src/components/App/Dialog/Dialog.vue';
import UserAvatar from 'src/components/Commons/UserAvatar.vue';
import { getItem } from 'src/helpers/localStorage';
import { isabiSportMenu } from './menuList';
import SocialMediaShare from '../../../components/Commons/SocialMediaShare';

export default {
  name: 'dashboard',
  components: {
    SocialMediaShare,
    Dialog,
    UserAvatar,
  },
  data() {
    return {
      drawer: false,
      isabiSportMenu,
      socialShareActive: false,
      shareUrl: '',
      stillHasGamplay: false,
    };
  },
  computed: {
    ...mapGetters('audience', [
      'notificationCount',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('referral', [
      'referral',
    ]),
    ...mapState('audience', [
      'referralDetails',
      'audienceProfile',
      'gameSummary',
      'availableGameplay',
    ]),
  },
  async mounted() {
    const userIdFromLocalStorage = getItem('userId');
    const audienceId = userIdFromLocalStorage || this.audienceProfile.id;

    if (!this.referral) {
      Promise.all([
        this.$store.dispatch('audience/generateReferralCode', audienceId),
        this.$store.dispatch('audience/getReferralCode', audienceId),
      ])
        .then(() => {
          const url = `${window.location.host}/apps/isabisport?r=${this.referralDetails.code}`;
          this.shareUrl = url.includes('http') ? url : `http://${url}`;
        });
    }
  },
  methods: {
    share() {
      this.drawer = false;
      if (!this.referral) {
        // get referral code
        this.$store.dispatch('audience/getReferralCode', this.audienceProfile.id);
      }
      this.socialShareActive = true;
    },
    subscribe() {
      if ((this.availableGameplay && this.availableGameplay.available_game_plays && this.availableGameplay.available_game_plays > 0)) {
        this.stillHasGamplay = true;
        return false;
      }
      this.drawer = false;
      this.$store.commit('audience/SET_SUB_MODAL', true);
      return true;
    },
    logOut() {
      this.$store.dispatch('auth/signOut')
        .then(() => {
          this.$router.replace({ name: 'landing-page' });
        });
    },
    changeSocialShare(val) {
      this.socialShareActive = val;
    },
  },
};
</script>
