.isabihomePage {
  position: relative;
  background: white;
  height: 80vh;
  &__free-games {
    width: 120px;
  }
  &__banner-image, &__free-games {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
  .columns {
    position: relative;
    display: flex;
    flex-direction: column;
    .header {
      background-color: #F6BE32;
      .q-img {
        .q-img__content > div {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      &-text {
        color: #373636;
        font-weight: 500;
        font-size: 15px;
        padding: 0px 1.5rem 0px 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }
      &-logo {
        margin: 0 auto;
      }
      &-action {
        .first_time.q-btn {
          // width: 200px;
          border: none;
          .q-btn__wrapper {
            padding: 13px;
            background: transparent linear-gradient(90deg, #F6CB32 0%, #F69632 100%) 0% 0% no-repeat padding-box;
          }
          .q-btn__wrapper:before {
            box-shadow: $light-shadow;
          }
        }
      }
    }
    .q-btn__wrapper {
      width: 17rem;
      padding: 12px;
      font-size: 17px;
    }
    .q-input {
      width: 17rem;
    }
    .q-field__inner {
      width: 17rem;
      background-color: #ffffff;
      border-radius: 50px;
    }
    .q-field--outlined .q-field__control:before {
      box-shadow: $light-shadow;
      border: none;
    }
  }
}
