<template>
  <q-page class="isabihomePage">
    <q-page-sticky position="top-left" :offset="[18, 18]">
      <q-btn round color="accent" icon="arrow_back" class="rotate-45" />
    </q-page-sticky>
    <div class="columns">
      <div class="header">
        <q-img
          src="/apps/isabisport/bg-isabi.png"
          class="isabihomePage__banner-image"
          :ratio="16/9"
          spinner-color="accent"
          spinner-size="50px"
        >
          <div class="absolute-full flex flex-center column">
            <q-img
              width="65%"
              src="/icons/isabisport.png"
            />
            <!-- <q-img width="100%" src="/apps/isabisport/banner.png" /> -->
          </div>
        </q-img>
      </div>
      <div class="columns__content">
        <p class="columns__content-text">
          Shebi you sabi sports? Oya subscribe, Let’s see if you truly SABI
        </p>

        <div class="columns__content-logo">
          <q-img
            src="/apps/isabisport/isabi-home-logo.png"
            :ratio="1"
            spinner-color="primary"
            spinner-size="0px"
            class="isabihomePage__free-games"
          />
        </div>

        <div class="columns__content-action q-mt-sm">
         <q-input
            stack-label
            ref="phone"
            type="tel"
            :mask="mask"
            :placeholder="phonePlaceholder"
            :rules="
              [
                 val => !!val || 'Please enter your phone number',
                 val => val.length === numLimit || `Phone number must be ${numLimit} digits`,
                 val => isValidDigit(val) || 'Enter a valid phone number'
              ]"
            rounded
            outlined
            v-model="phone"
            input-class="input-style"
          >
          <template v-slot:prepend>
            <div class="cursor-pointer non-selectable">
              <q-avatar v-if="country">
                <q-icon style="margin-top: -19px" size="57px" :name="country.unicode_flag" />
              </q-avatar>
              <q-menu>
                <q-list style="min-width: 200px">
                  <q-item @click="setCountry(country)" v-for="(country, i) in countries" :key="i" clickable v-close-popup>
                    <q-item-section>{{ country.name }}</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </div>

          </template>
          </q-input>
          <q-btn
            class="first_time"
            rounded color="primary"
            label="Get Started"
            @click="registerUser"
            no-caps
          />
        <div class="full-width align-center">
          <div @click="$router.push({ name: 'Isabisport Reset' })" class="q-mt-md text-primary">Forgot Pin?</div>
        </div>
        </div>
      </div>
    </div>
     <q-dialog v-model="enterPassword">
      <q-card class="passwordModal" style="background-color: #fff">
        <!-- <q-page-sticky class="z-top" position="top-left" :offset="[18, 40]">
          <q-btn @click="enterPassword = false" round size="sm" color="white" text-color="blue-4" class="text-weight-bold" icon="arrow_back" />
        </q-page-sticky> -->
        <q-card-section class="text-center">
          <div class=" instruction q-mb-xl">
            <div class="text-h5 q-mt-xl text-secondary text-weight-bold ">Welcome back</div>
            <q-separator style="box-shadow: 0px 3px 6px #00000029; width: 60%; margin: 0 auto !important; margin-top: 0.4rem"  color="white" size="5px" class="rounded-borders text-center q-mb-lg" spaced inset horizontal />
            <div class="q-mt-xl">
              Input your 4 digit PIN.
            </div>
          </div>
          <PinInput @completed="loginUser" />
          <div @click="$router.push({ name: 'Isabisport Reset' })" class="q-mt-md text-primary">Forgot Pin?</div>
        </q-card-section>
        <q-card-actions align="center">
        </q-card-actions>
      </q-card>
    </q-dialog>

    <TermsAndConditions />
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import { getItem } from 'src/helpers/localStorage';
import authMixin from 'src/mixins/auth';
import Notify from '../../../../config/notify';
import './_isabiIndex.scss';
import { utilsMixin } from '../../../../mixins/utilsMixin';
import TermsAndConditions from '../../../../components/main/TermsAndConditions/TermsAndCondition';
import PinInput from '../../../../components/App/PinInput/PinInput';

export default {
  name: 'isabisport-homepage',
  props: ['referralCode'],
  mixins: [utilsMixin, authMixin],
  data() {
    return {
      phone: '',
      is_phone_verified: null,
      enterPassword: false,
      country: {},
      phonePlaceholder: '+234 *** ** ***',
      mask: '###########',
      numLimit: 11,
      campaignId: process.env.CAMPAIGN_ID,
    };
  },
  components: {
    TermsAndConditions,
    PinInput,
  },
  computed: {
    ...mapState('game', [
      'countries',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
    ...mapState('auth', [
      'pin',
      'userId',
      'isUserAlreadyRegistered',
      'signupSuccess',
      'signupDetails',
    ]),
    ...mapState('setup', [
      'termsAndCondition',
    ]),
    audiencePayload() {
      return {
        phone: this.phone,
        isAgreedTermsAndCondition: this.termsAndCondition,
        campaign_id: this.campaignId,
        is_phone_verified: true,
        country_id: this.country.id,
      };
    },
  },
  mounted() {
    this.$store.dispatch('game/getCountries')
      .then(() => {
        [, this.country] = this.countries;
      });
  },
  methods: {
    async registerUser() {
      try {
        this.$q.loading.show();
        await this.dispatchUserRegistrationAPI();
        this.$q.loading.hide();
        if (!this.signupSuccess) {
          return Notify.error('Error registering user');
        }
        if (this.isUserAlreadyRegistered) {
          // if user is already registered, go to enter pin form
          this.openEnterPinDialog();
          return this.$q.loading.hide();
        }
        const { signupDetails } = this;
        const { pinId } = signupDetails;
        this.$store.commit('auth/SET_PIN_ID', pinId);

        return await this.validateUser();
      } catch (err) {
        return this.$q.loading.hide();
      }
    },
    async dispatchUserRegistrationAPI() {
      const phoneNumber = this.phone;
      await this.$store.dispatch('auth/signUp', phoneNumber);
    },
    async validateUser() {
      this.$q.loading.show();

      try {
        const influencerName = this.influencer_username || getItem('influencer_username');

        if (influencerName) {
          this.audiencePayload.influencer_username = influencerName;
          this.$store.commit('referral/SET_INFLUENCER_NAME', influencerName);
        }

        // check if referred
        if (this.referralCode) {
          this.$store.dispatch('referral/useReferralCode', { referentId: this.audienceProfile.id, referralCode: this.referralCode });
        }
        // user hasn't verified phone
        this.$router.push({ name: 'Isabisport AuthPages', params: { type: 'EnterOtp' } });
        this.$q.loading.hide();
      } catch (e) {
        this.$q.loading.hide();
        Notify.error(`Authentication failed. ${e}`);
      }
    },
    openEnterPinDialog() {
      this.enterPassword = true;
    },
    setCountry(val) {
      this.country = val;
      if (val.name.toLowerCase() === 'ghana') {
        this.phonePlaceholder = '02* *** ****';
        this.numLimit = 10;
        this.mask = '##########';
      } else {
        this.phonePlaceholder = '080 *** ** ***';
        this.numLimit = 11;
        this.mask = '###########';
      }
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
