<template>
  <div class="appModal">
    <Dialog
      position="standard"
      :isPersistent="false"
      :isActive="true"
    >

    <!--  -->
    </Dialog>
  </div>
</template>

<script>
import Dialog from '../Dialog/Dialog.vue';

export default {
  name: 'app-modal',
  components: {
    Dialog,
  },
};
</script>
