.dashboard {
  background: $info;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  .columns {
    position: relative;
    z-index: 999;
    // height: 100vh;
  }
  &__balance {
    margin-top: 2rem;
    border-bottom: 1px solid #c4d8f0;
    padding-bottom: 2rem;
  }
  &__options {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    &-card {
      width: 45%;
    }
  }
  &__activities {
    background-color: $light;
    padding: 10px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    bottom: 0;
    position: absolute;
    &-header {
      display: flex;
      padding: 10px;
      color: $p-color;
      justify-content: space-between;
    }
    &-content {
      display: flex;
      margin-bottom: 2rem;
      > div {
        margin-left: 5px;
      }
    }
  }
}
.activity-card {
  height: 110px;
  border-radius: 9px;
  .q-card__section {
    height: inherit;
    display: flex;
    align-items: center;
  }
}
