<template>
  <div>
    <q-page class="dashboard" padding>
      <div class="circle"></div>
      <div class="circle circle_2"></div>
      <!--  -->
      <div class="columns" v-if="componentId">
        <!-- components -->
        <component
          :is="componentId"
          @setComponent="setComponent"
        ></component>
        <div class="text-center">
          <q-btn color="primary" outline round icon="close"  @click="componentId = ''" />
        </div>
      </div>
      <div class="columns" v-if="!componentId">
        <!-- bg circle -->
        <div class="dashboard__balance">
          <Balance></Balance>
        </div>
        <div class="dashboard__options">
          <div class="dashboard__options-card" @click="setComponent('Promotions')">
            <ActivityCard iconName="img:/icons/giftbox.png" bgColor="gradient__bg-pink" cardTitle="Promotions"></ActivityCard>
          </div>
          <div class="dashboard__options-card" @click="setComponent('GameOptions')">
            <ActivityCard iconName="img:/icons/plus.png" bgColor="gradient__bg-purple" cardTitle="Games"></ActivityCard>
          </div>
        </div>

      </div>
    </q-page>

    <div class="dashboard__activities" v-if="!componentId">
      <div class="dashboard__activities-header">
        <span>Activities</span>
        <q-icon name="expand_more" size="25px" style="color: #707070" />
      </div>

      <div class="dashboard__activities-content">
        <div v-for="(campaign, i) in campaigns" :key="i">
          <router-link to="/apps/isabisport">
            <Card width="110px" customClass="activity-card">
              <template slot="card-content">
                <q-img src="/icons/isabisport.png" />
              </template>
            </Card>
          </router-link>
          <div class="text-center q-mt-sm">
            <router-link to="/apps/isabisport">{{ campaign.title }}</router-link>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <RequestUsername></RequestUsername>
  </div>
</template>

<script>
import './_dashboard.scss';
import { mapState } from 'vuex';
import Balance from '../../../components/main/Wallet/Balance/Balance';
import ActivityCard from '../../../components/main/ActivityCard/ActivityCard';
import Card from '../../../components/App/Card/Card';
import GameOptions from '../../../components/main/GamesOptions/GamesOptions';
import RequestUsername from '../../../components/main/RequestUsername/RequestUsername';

export default {
  name: 'dashboard',
  components: {
    Card,
    Balance,
    ActivityCard,
    GameOptions,
    RequestUsername,
  },
  data() {
    return {
      componentId: '',
    };
  },
  computed: {
    ...mapState('campaign', [
      'campaigns',
    ]),
  },
  created() {
    this.$q.loading.show();

    Promise.all([
      this.$store.dispatch('audience/getAudienceProfile'),
      this.$store.dispatch('campaign/getActivities'),
    ])
      .then(() => this.$q.loading.hide())
      .catch(() => this.$q.loading.hide());
  },
  methods: {
    setComponent(name) {
      this.componentId = name;
    },
  },
};
</script>
