<template>
  <div class="successModal">
    <Dialog
      :isActive="isActive"
      :isPersistent="false"
      height="300px"
      bgColor="#FFF"
      position="standard"
    >
    <template slot="content">
      <div class="successModal__content column text-center fullwidth">
        <div class="icon q-mt-lg">
          <q-icon size="70px" name="img:/icons/check.svg" />
        </div>
        <div class="info-text q-mt-md text-dark">
          Top Up Successful
        </div>
        <div class="actions column q-mt-lg text-center fullwidth">
          <q-btn size="sm" rounded color="primary" label="Activities" />
          <q-btn size="sm" rounded class="q-mt-sm" color="secondary" label="Home" />
        </div>
      </div>
    </template>
    </Dialog>
  </div>
</template>

<script>
import Dialog from '../../App/Dialog/Dialog';

export default {
  name: 'success-modal',
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    Dialog,
  },
};
</script>

<style lang="scss">
  .successModal {
    &__content {
      text-align: center;
      .q-btn {
        padding: 4px;
        width: 50%;
        margin: 0 auto;
      }
      .q-btn__wrapper:before {
        box-shadow: none;
      }
      .q-btn:first-child {
        margin-bottom: 8px;
        margin-top: 10px;
      }
    }
  }
</style>
