.gamePlay {
  height: 100vh;
  &__header {
    &-left {
      span {
        background-color: $purple-5;
        color: #FFFFFF;
        padding: 5px 10px 5px 10px;
        border-radius: 3px;
        font-size: 20px;
      }
    }
    &-right {
      span {
        font-size: 20px;
        color: #F69632;
        font-weight: 600;
      }
    }
  }
  &__progress {
    padding-left: 35px;
    padding-right: 35px;
  }

  &__question {
    padding-left: 35px;
    padding-right: 35px;
    p {
      color: #646464;
      font-size: 15px;
      text-align: left;
      font-weight: 500;
      line-height: 1.7;
    }
  }
  &__options {
    text-align: left;
    padding: 20px 35px 5px 35px;
    color: #646464;
    button {
      margin-bottom: 10px;
      text-transform: none;
      background-color: #3E4094;
    }
    .q-option-group {
      div {
        padding-bottom: 4px;
        font-size: 18px;
      }
    }
  }
  &__footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    margin-top: -1rem;
    height: 70px;
  }
  .counter {
    padding: 0px 3px 0px 3px;
    font-size: 25px;
    height: 39px;
    width: 39px;
    color: #FFF;
    background: #1E43E0;
  }
  .bg-failed {
    background-color: #F44336 !important;
  }
  .bg-passed {
    background-color: #03CD70 !important;
  }
  .header-separator {
    background: #464C9D;
    height: 10px;
    border-radius: 10px 10px 0px 0px;
  }
}
