<template>
  <div class="gamePlay text-center">
    <div class="column q-mt-md">
      <div class="gamePlay__header row justify-between q-pl-md q-pr-md">
        <div class="gamePlay__header-left self-center">
          <span>{{ totalQuestionsAnswered }}</span>
        </div>
        <div class="gamePlay__header-center">
          <!-- <q-circular-progress
            show-value
            class="text-white q-ma-md"
            :thickness="0.2"
            center-color="positive"
            :value="progress * 100"
            size="70px"
            color="amber"
          >
          {{ Math.floor(progress * 10) }}
          </q-circular-progress> -->
          <q-circular-progress
            show-value
            reverse
            class="text-white q-ma-md"
            :thickness="0.2"
            center-color="positive"
            :value="updatedTimerAsAPercentage"
            size="70px"
            color="amber"
          >
          {{ updatedTimer }}
          </q-circular-progress>
        </div>
        <div class="gamePlay__header-right self-center">
          <span>{{ finalScore }}pt</span>
        </div>
      </div>
      <div class="header-separator" />
      <div class="gamePlay__image q-mt-md q-mb-md">
        <img width="100" src="/icons/question_placeholder.png" />
      </div>
      <div class="gamePlay__question q-mt-sm">
        <p v-if="currentQuestion">
          {{ currentQuestion.question }}
        </p>
      </div>
      <div v-if="currentQuestion" class="gamePlay__options column">
        <span style="color: #27e28b; font-size: 15px;" class="text-weight-bold self-end" v-if="optionWasCorrect">+ {{ Math.floor(currentQuestion.points) }} Points</span>
        <q-btn
          v-for="(option, i) in currentQuestion.choices"
          push
          rounded
          :key="i"
          @click="checkIfCorrectOption(option)"
          color="purple-5"
          class="questionOption text-capitalize"
          :id="`${option.value.id}`"
          size="16px"
          :label="option.label"
        />
      </div>

      <div class="q-mb-lg q-mt-xl">
        <q-img
          src="/apps/isabisport/isabisport.png"
          style="width: 100px"
        />
      </div>
    </div>
    <!-- <FollowUsModal :isActive="followModalActive" />
    <QuestionModal v-if="questionModalActive" @answerQuestion="answerQuestion" :isActive="questionModalActive" />
    <AdModal
      v-if="adModalActive"
      :dialog="adModalActive"
      @continueGame="continueGame"
      :adImgUrl="adImgUrl"
    />
    <select-network @selectOperator="saveOperator" :dialog="selectNetworkActive"></select-network> -->
  </div>
</template>

<script>
import './_gamePlay.scss';
import { mapActions, mapState, mapGetters } from 'vuex';

import { getItem, saveItem, removeItem } from 'src/helpers/localStorage';

import Notify from 'src/config/notify';

export default {
  name: 'question-game',
  data() {
    return {
      group: null,
      currentQuestion: null,
      optionWasCorrect: false,
      followModalActive: false,
      questionModalActive: false,
      selectNetworkActive: false,
      adModalActive: false,
      totalQuestionsAnswered: 0,
      GAME_ID: process.env.GAME_ID,
      campaignId: process.env.CAMPAIGN_ID,
      adImgUrl: 'statics/backgounds/advert.png',
      breakers: [],
      imgVal: null,
      progress: 0.01,
      finalScore: 0,
      buffer: 0.01,
      questionType: 'physcometric',
      questionsAnswered: 0,
      questionCounter: 0,
      indexOfBreaker: 0,
      startDuration: null,
      endDuration: null,
      initialGameplayTime: 120,
      updatedTimer: 120,
      newInterval: null,
    };
  },
  computed: {
    ...mapState('audience', [
      'audienceProfile',
    ]),
    ...mapGetters('game', [
      'gamePlayId',
    ]),
    updatedTimerAsAPercentage() {
      const timeLeftInPercentage = (this.updatedTimer / this.initialGameplayTime) * 100;
      return timeLeftInPercentage;
    },
  },
  watch: {
    updatedTimer() {
      saveItem('updatedTimer', this.updatedTimer);
    },
  },
  methods: {
    ...mapActions('game', [
      'getSubscriptionQuestion',
      'getGameplayQuestionOrAd',
      'answerGameplayQuestion',
      'answerSubscriptionGameQuestion',
      'endGameServer',
    ]),
    ...mapActions('audience', [
      'saveAudienceOperator',
    ]),
    setGameBreakers() {
      const {
        AD_SLOT_1, AD_SLOT_2, AD_SLOT_3, AD_SLOT_4,
      } = process.env;
      this.breakers = [AD_SLOT_1, AD_SLOT_2, AD_SLOT_3, AD_SLOT_4];

      this.breakers.forEach((element, index, arr) => {
        if (element === 'empty') {
          arr[index] = 'questionModalActive';
        }
      });
    },
    continueGame() {
      // eslint-disable-next-line no-multi-assign
      this.selectNetworkActive = this.questionModalActive = this.followModalActive = this.adModalActive = false;
      this.getQuestion();
      this.updatedTimer = getItem('updatedTimer');
    },
    answerQuestion(option) {
      // eslint-disable-next-line no-multi-assign
      this.selectNetworkActive = this.questionModalActive = this.followModalActive = this.adModalActive = false;
      this.respondToQuestion(option)
        .then(() => {
          this.getQuestion();
        })
        .catch((err) => {
          this.$q.notify({
            type: 'negative',
            message: `Error processing request: ${err.message}`,
          });
          this.getQuestion();
        });
    },
    /**
     * stop question timer
    */
    stopQuestionTimer() {
      clearInterval(this.interval);
      clearInterval(this.bufferInterval);
      clearInterval(this.newInterval);
      // this.progress = 0;
      // this.updatedTimer = 0;
      // this.buffer = 0;
    },
    updateProgressBar(val) {
      this.progress = val;
    },
    /**
     * start question timer
    */
    startQuestionTimer() {
      this.interval = setInterval(() => {
        if (this.progress >= 1) {
          this.checkIfCorrectOption(false);
        }
        const newValue = Math.min(1, this.buffer, this.progress + 0.1);
        // this.progress = Math.min(1, this.buffer, this.progress + 0.1)
        this.newWorker.postMessage('increaseTimer', [newValue])
          .then((result) => {
            // result after worker has reponded to postMessage
            this.progress = result;
          });
      }, 700 + Math.random() * 1000);

      this.bufferInterval = setInterval(() => {
        if (this.buffer < 1) {
          this.buffer = Math.min(1, this.buffer + Math.random() * 0.2);
        }
      }, 700);
    },
    /**
     * Break game
    */
    breakGame() {
      this.$q.loading.hide();
      const breakerToShow = this.breakers[this.indexOfBreaker];

      if (breakerToShow === 'questionModalActive') {
        this.questionModalActive = true;
      } else {
        this.adModalActive = true;
        this.adImgUrl = breakerToShow;
      }
      // eslint-disable-next-line no-plusplus
      this.indexOfBreaker++;
    },
    /**
     * check if question completed
     */
    checkIfQuestionsCompleted() {
      if (this.totalQuestionsAnswered >= 12) {
        this.stopQuestionTimer();
        // show select network
        this.selectNetworkActive = true;
        this.$router.replace({ name: 'Isabisport GameResult' });
        return true;
      }
      return false;
    },
    saveOperator(operator) {
      this.$q.loading.show();
      const payload = {
        audience_id: this.audienceProfile.id,
        operator,
      };
      this.saveAudienceOperator(payload).then(() => {
        this.$q.loading.hide();
        this.selectNetworkActive = false;
        this.$router.replace({ name: 'Isabisport GameResult' });
      });
    },
    /**
     * get new question
    */
    getQuestion() {
      this.stopQuestionTimer();
      setTimeout(() => {
        this.clearSelection();
      }, 500);
      // eslint-disable-next-line no-plusplus
      this.questionCounter++;
      this.$q.loading.show();

      setTimeout(() => {
        this.optionWasCorrect = false;
      }, 2000);
      // if (this.checkIfQuestionsCompleted()) {
      //   this.$q.loading.hide();
      //   return;
      // }
      // clear image
      this.imgVal = null;
      const gamePlayId = this.gamePlayId || getItem('gamePlayId');
      const { campaignId, questionType } = this;
      const audienceId = this.audienceProfile.id;
      return this.getGameplayQuestionOrAd({
        campaignId, audienceId, questionType, gamePlayId,
      }).then((data) => {
        data = data.data;
        // start timer only when a question has been retrieved
        this.startIntervalTimer();
        if (data.question) {
          this.startDuration = Date.now(); // mark the time when question arrived

          this.currentQuestion = data.question;
          this.finalScore = data.total_points;

          this.totalQuestionsAnswered = data.total_questions_answered;
          this.$store.commit('game/UPDATE_NO_GAME_QUESTION', this.totalQuestionsAnswered);

          const { choices } = this.currentQuestion;
          this.currentQuestion.choices = choices.map((x) => ({ label: x.choice, value: x, is_correct_choice: x.is_correct_choice }));

          this.$q.loading.hide();
          // eslint-disable-next-line consistent-return
          return;
        }
        if ((!data.question && !data.ads && !data.data_collection_question)) {
          // no more questions or ads
          this.$router.replace({ name: 'Isabisport GameResult' });
        }
      })
        .catch(() => {
          Notify.error('There was an error getting the question. Please refresh the page');
        });
    },
    failIfTimedOut() {
      this.imgVal = 'fail.png';
    },
    setResultImage(option) {
      if (option) {
        const { id } = option.value;
        const className = option.is_correct_choice ? 'bg-passed' : 'bg-failed';
        const imgVal = option.is_correct_choice ? 'check.svg' : 'fail.png';
        // this.finalScore += option.is_correct_choice ? Number(this.currentQuestion.points) : 0

        document.getElementById(`${id}`).classList.add(className);
        this.imgVal = imgVal;
        return;
      }
      this.imgVal = 'fail.png';
    },
    clearSelection() {
      const elems = document.querySelectorAll('.questionOption');

      Array.prototype.forEach.call(elems, (el) => {
        el.classList.remove('bg-passed');
        el.classList.remove('bg-failed');
      });
    },
    /**
     * check if option is correct
    */
    checkIfCorrectOption(option) {
      this.$q.loading.show();
      // stop timer
      // this.stopQuestionTimer();
      setTimeout(() => {
        this.respondToQuestion(option)
          .then(() => {
            this.getQuestion();
          })
          .catch((err) => {
            this.$q.notify({
              type: 'negative',
              message: `Error processing request: ${err.message}`,
            });
            this.getQuestion();
          });
        return false;
      }, 1000);
    },
    respondToQuestion(option) {
      this.endDuration = Date.now(); // mark when question was answered

      this.$q.loading.show();
      const payload = {
        points: this.currentQuestion.points,
        campaignId: this.campaignId,
        questionId: this.currentQuestion.id,
        audienceId: this.audienceProfile.id,
        optionId: option ? option.id || option.value.id : this.currentQuestion.choices.find((x) => !x.is_correct_choice).value.id,
        isCorrect: option ? option.is_correct_choice : false,
        duration: this.endDuration - this.startDuration,
        gamePlayId: this.gamePlayId,
      };
      return this.answerGameplayQuestion(payload).then((res) => {
        if (option) {
          const { id } = option.value;
          const className = res.data.isCorrect ? 'bg-passed' : 'bg-failed';
          // this.showNotification(res.data.isCorrect);
          this.optionWasCorrect = res.data.isCorrect;
          if (this.optionWasCorrect) {
            this.$store.commit('game/INCREMENT_TOTAL_CORRECT');
          }
          this.finalScore += res.data.isCorrect ? Number(res.data.points) : 0;
          this.$store.commit('game/UPDATE_TOTAL_POINTS', this.finalScore);
          document.getElementById(`${id}`).classList.add(className);
        }
        Promise.resolve(res);
      });
    },
    showNotification(isCorrect) {
      // eslint-disable-next-line no-unused-expressions
      isCorrect ? this.$q.notify({
        message: 'Correct',
        type: 'positive',
        position: 'left',
        timeout: 80,
      }) : this.$q.notify({
        message: 'Wrong',
        type: 'negative',
        position: 'left',
        timeout: 80,
      });
    },
    setupWorker() {
      this.newWorker = this.$worker.create([
        { message: 'increaseTimer', func: (arg) => arg },
      ]);
    },
    startIntervalTimer() {
      // if the game play has started and the user refreshes, the game picks the time left from local storage
      const timeLeft = getItem('updatedTimer');
      this.gamePlayId = getItem('gamePlayId');
      if (timeLeft) {
        this.updatedTimer = timeLeft;
      }
      this.newInterval = setInterval(() => {
        this.updatedTimer -= 1;
        if (this.updatedTimer <= 0) {
          this.stopQuestionTimer();
          this.$q.notify({ type: 'positive', message: 'Times Up!' });
          this.$router.replace({ name: 'Isabisport GameResult' });
        }
      }, 1000);
    },
  },
  mounted() {
    this.getQuestion();
    // this.setupWorker();
  },
  beforeDestroy() {
    clearInterval(this.interval);
    clearInterval(this.bufferInterval);
    clearInterval(this.newInterval);
    removeItem('updatedTimer');
    removeItem('gamePlayId');
  },
};
</script>
