.walletPage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__total {
    margin: 0 auto;
    margin-top: 2rem;
    // margin-bottom: 2rem;
    width: 100%;
  }
  &__action {
    width: 100%;
    height: 235px;
    padding: 0px;
    background-color: #F3F3F4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-col {
      flex-direction: column;
    }
    .addCash {
      width: 100%;
    }
    .appCard {
      height: 160px;
      .q-card {
        height: inherit;
        border: 1px solid $secondary;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .action-text {
      margin-top: 1rem;
      color: #8C8E93;
      font-weight: 500;
    }
  }
  .action-tabs {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;
    .q-btn {
      width: 100%;
      padding: 5px;
      .q-btn__content {
        text-transform: capitalize !important;
      }
    }
    .q-btn.withdrawBtn {
      border: 1px solid $secondary;
      margin-left: 20px;
      .q-btn__content {
        color: #8C8E93;
      }
    }
  }
  .more-actions {
    .q-btn {
      width: 200px;
      padding: 5px;
    }
  }
}
