<template>
  <q-page class="walletPage">
    <div class="walletPage__total">
      <WalletTotal />
    </div>

    <div v-if="componentId" class="action-tabs q-mb-md">
      <q-btn color="secondary" icon="img:/icons/addwhite.svg" label="Add Cash" @click="setComponent('AddCash')" />
      <q-btn color="light" icon="img:/icons/withdraw.svg" label="Withdraw" @click="setComponent('WithdrawCash')" class="withdrawBtn" />
    </div>
    <div v-if="componentId" class="walletPage__action walletPage__action-col q-pa-md">
      <component @setAddCash="setAddCashDetails" :is="componentId"></component>
    </div>

    <div class="walletPage__action q-col-gutter-sm" v-if="!componentId" >
      <div @click="setComponent('AddCash')" class="fullwidth">
        <Card customClass="fullwidth">
          <template slot="card-content">
            <q-icon size="60px" name="img:/icons/addcash.svg" />
            <p class="action-text">Add Cash</p>
          </template>
        </Card>
      </div>
      <div @click="setComponent('WithdrawCash')" class="fullwidth">
        <Card customClass="fullwidth">
          <template slot="card-content">
            <q-icon size="60px" name="img:/icons/withdraw.svg" />
            <p class="action-text">Withdraw</p>
          </template>
        </Card>
      </div>
    </div>

    <div class="more-actions q-mt-sm fullwidth">
      <q-btn v-if="componentId === 'AddCash'" rounded color="secondary" label="Add Cash" @click="initiateAddCash" />
      <q-btn v-if="componentId === 'WithdrawCash'" rounded color="secondary" label="Withdraw" @click="initiateWithdrawal" />
    </div>
    <SuccessModal :isActive="successModal"></SuccessModal>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import './_walletPage.scss';
import Notify from '../../../config/notify';
import WalletTotal from '../../../components/main/Wallet/WalletTotal/WalletTotal';
import Card from '../../../components/App/Card/Card';
import AddCash from '../../../components/main/Wallet/AddCash/AddCash';
import WithdrawCash from '../../../components/main/Wallet/Withdraw/Withdraw';
import SuccessModal from '../../../components/main/SuccessModal/SuccessModal';

export default {
  name: 'wallet-page',
  components: {
    WalletTotal,
    WithdrawCash,
    SuccessModal,
    Card,
    AddCash,
  },
  data() {
    return {
      addCash: null,
      componentId: '',
      successModal: false,
    };
  },
  computed: {
    ...mapState('wallet', [
      'wallet',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
  },
  mounted() {
    this.$store.dispatch('wallet/createWallet', this.audienceProfile.id);
  },
  beforeDestroy() {
    this.componentId = '';
  },
  methods: {
    setAddCashDetails(val) {
      this.addCash = val;
    },
    setComponent(val = '') {
      this.componentId = val;
    },
    initiateAddCash() {
      if (!this.addCash || !this.addCash.amount) {
        Notify.warning('Set An amount');
        return false;
      }
      if (!this.audienceProfile.email) {
        Notify.warning('Please set your email first');
        return false;
      }
      this.$q.loading.show();
      const payload = {
        email: this.audienceProfile.email,
        amount: this.addCash.amount,
      };
      this.$store.dispatch('wallet/addCash', payload)
        .then((res) => {
          this.$q.loading.hide();
          window.location.href = res.response.authorization_url;
        });

      return true;
    },
    initiateWithdrawal() {
      //
    },
  },
};
</script>
