<template>
  <div class="requestUsername">
    <Dialog
      :isActive="requestUsernameModal"
      :isPersistent="true"
      height="330px"
      bgColor="#FFF"
      position="standard"
    >
      <template slot="content">
        <div class="requestUsername__content column text-center fullwidth justify-center items-center">
          <user-avatar size="60px" class="q-mt-lg"></user-avatar>

          <p class="q-mt-md">Create a username for your number</p>
          <q-input
            outlined v-model="username"
            dense
            ref="username"
            type="text"
            label="Type username..."
            :rules="
            [
              val => !!val || 'Please enter a username'
            ]"
          />

          <div class="requestUsername__content-action q-mt-lg">
            <q-btn @click="setUsername" rounded color="secondary" label="Continue" />
            <q-btn class="q-mt-sm" size="sm" flat color="secondary" @click="skip" label="Skip" />
          </div>
        </div>
      </template>
      <!--  -->
    </Dialog>
  </div>
</template>

<script>
import UserAvatar from 'src/components/Commons/UserAvatar.vue';
import { mapState } from 'vuex';
import Dialog from '../../App/Dialog/Dialog';

export default {
  name: 'request-username',
  components: {
    Dialog,
    UserAvatar,
  },
  data() {
    return {
      username: '',
    };
  },
  computed: {
    ...mapState('setup', [
      'hasSkippedUsername',
      'requestUsernameModal',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
  },
  mounted() {
    if (!this.hasSkippedUsername) {
      setTimeout(() => {
        this.$store.commit('setup/SET_REQUEST_USERNAME_MODAL', true);
      }, 10000);
    }
  },
  methods: {
    skip() {
      this.$store.commit('setup/SET_SKIP_USERNAME', true);
      this.$store.commit('setup/SET_REQUEST_USERNAME_MODAL', false);
    },
    setUsername() {
      this.$refs.username.validate();
      if (this.$refs.username.hasError) {
        return false;
      }
      this.$q.loading.show();

      const payload = {
        user_name: this.username,
        audience_id: this.audienceProfile.id,
      };

      this.$store.dispatch('audience/saveAudienceOperator', payload)
        .then(() => {
          this.$q.loading.hide();
          this.skip();
        });
      return true;
    },
  },
};
</script>

<style lang="scss">
  .requestUsername {
    &__content {
      .q-input {
        width: 70%;
      }
      &-action {
        .q-btn {
          padding: 5px;
          width: 170px;
        }
      }
    }
  }
</style>
