.walletTotal {
  text-align: center;
  padding: 25px;
  &__top {
    margin-left: -5rem;
    margin-bottom: -2px;
    font-size: 12px;
    color: #8C8E93;
  }
  &__bottom {
    font-size: 32px;
    color: #2F323A;
    font-weight: 300;
    img {
      opacity: (0.7);
    }
  }
}
