<template>
  <div class="walletTotal">
    <div class="walletTotal__top">
      Total Balance
    </div>
    <div class="walletTotal__bottom">
      <q-icon name="img:/icons/money.svg" />
      <span>
        {{ wallet.balance }}
      </span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import './_walletTotal.scss';

export default {
  name: 'wallet-total',
  computed: {
    ...mapState('wallet', [
      'wallet',
    ]),
  },
};
</script>
