<template>
  <div class="withdraw">
    <q-input
      class="q-mt-sm"
      outlined
      color="secondary"
      borderless
      bg-color="white"
      v-model="amount"
      mask="#.##"
      reverse-fill-mask
      fill-mask="0"
      ref="amount"
      :rules="[val => !!val || 'Enter an amount']"
      @blur="setWithdrawAmount"
      label="Amount" />
  </div>
</template>

<script>
export default {
  name: 'withdraw',
  data() {
    return {
      amount: '',
    };
  },
  methods: {
    setWithdrawAmount() {
      this.$emit('setWithdrawAmount', this.amount);
    },
  },
};
</script>

<style lang="scss">
  .withdraw {
    width: 80%;
  }
</style>
