<template>
  <q-layout class="profileLayout" view="hHh lpR fFf">

    <q-header class="bg-primary text-white">
      <q-toolbar class="text-primary bg-white">
        <q-btn @click="navigateBack" flat round dense icon="arrow_back_ios" />
        <q-toolbar-title>
          {{ $router.currentRoute.name }}
        </q-toolbar-title>
        <ChangePin />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import '../../css/layouts/_profile.scss';
import ChangePin from '../../components/main/Profile/ChangePin/ChangePin';

export default {
  components: {
    ChangePin,
  },
  data() {
    return {
      changePin: false,
    };
  },
  methods: {
    navigateBack() {
      const { name } = this.$router.currentRoute; // route name
      if (name === 'My Profile') {
        return this.$router.replace({ name: 'Dashboard' });
      }
      return this.$router.back();
    },
  },
};
</script>
