
.isabisportLeaderboard {
  &__header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    > div {
      width: 100%;
    }
    div.position {
      color: $light;
      font-size: 30px;
      font-weight: 700;
      .points {
        font-weight: 400;
        font-size: 20px;
        margin-left: 10px;
        border-left: 1px solid grey;
        padding-left: 20px;
        color: #F69B32;
      }
    }
    div.filter {
      height: 45px;
      .q-field__control, .q-field__control-container {
        height: 40px;
        // background-color: white;
      }
    }
  }
  &__body {
    height: 100vh;
    .player-list {
      &--active {
        background-color: $light;
        .q-item__section, .points, .timer {
          color: $purple-2 !important;
        }
      }
    }
    .q-item {
      .avatar {
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border: 2px solid white;
      }
      .counter {
        color: $light;
      }
      .q-item__section--side {
        display: flex;
        flex-direction: row;
        align-items: center;
        .points {
          color: #FFF;
        }
        .timer {
          color: rgba(255, 255, 255, 0.529);
          margin-left: 10px;
          font-size: 11px;
        }
      }
    }
    .noPlayers {
      text-align: center;
      // margin-top: 5rem;
      font-size: 20px;
      color: $light;
    }
  }
}
