<template>
  <div class="isabisportLeaderboard">
    <div class="isabisportLeaderboard__header q-mt-sm q-pa-sm">
      <div class="position" v-if="audienceScore.position">
        {{ audienceScore.position }}<sup>{{ getPositionSuffix(audienceScore.position) }}</sup> <span class="points">{{ audienceScore.total_points }}pts</span>
      </div>
      <div class="position" v-else></div>
      <div class="filter">
        <q-select
          @input="filterLeaderboard"
          rounded behavior="menu" dense
          bg-color="white" outlined
          v-model="filter"
          :options="options" />
      </div>
    </div>
    <div class="isabisportLeaderboard__body q-mt-md">
      <q-list v-if="data.length" separator>
        <q-item @click="setActivePlayer(`player${i}`)" :ref="`player${i}`" class="player-list" v-for="(player, i) in data" :key="i" clickable v-ripple>
          <q-item-section class="col-1 counter" avatar>
            {{ player.position }}
          </q-item-section>
          <q-item-section class="col-2" top>
            <q-icon class="avatar" size="45px" color="primary" name="img:/icons/avatar.gif" />
          </q-item-section>
          <q-item-section class="text-white text-bold">{{ player.username ? player.username : player.phone_number }}</q-item-section>
          <q-item-section side class="inline-display">
            <span class="points text-bold">{{ player.total_points }}</span>
            <span class="timer"><q-icon name="schedule" />{{ player.play_durations }} s</span>
          </q-item-section>
        </q-item>
      </q-list>
      <div v-else class="noPlayers">
        <img src="/icons/empty.svg">
        <div class="text-body2 text-white">Nobody has played yet. Be the first to play and have a head start. Click Play</div>
      </div>

    </div>
  </div>
</template>

<script>
import './_leaderboard.scss';
import { componentStateMixin } from '../../../../mixins/componentStateMixin';

export default {
  name: 'leaderboard',
  mixins: [componentStateMixin],
  props: {
    data: {
      type: Array,
      required: true,
      default: () => [],
    },
    audienceScore: {
      required: true,
      type: Object,
      default: () => {},
    },
    totalParticipant: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  data() {
    return {
      options: [{ label: 'Today', value: 'daily' }, { label: 'Weekly', value: 'weekly' }, { label: 'Monthly', value: 'monthly' }, { label: 'All-time', value: 'alltime' }],
      filter: 'Today',
      activePlayer: '',
    };
  },
  watch: {
    activePlayer(refId) {
      this.setActiveClass(refId, 'player-list', 'player-list--active');
    },
  },
  mounted() {
    this.$store.dispatch('game/getMainLeaderboard');
  },
  methods: {
    setActivePlayer(playerId) {
      this.activePlayer = playerId;
    },
    setFilter() {
      this.$emit('setFilter', this.filter);
    },
    filterLeaderboard() {
      this.$emit('filterLeaderboard', this.filter.value);
    },
    getPositionSuffix(position) {
      position = String(position);
      const lastString = position[position.length - 1];
      let suff = '';

      switch (lastString) {
        case '1':
          suff = 'st';
          break;
        case '2':
          suff = 'nd';
          break;
        case '3':
          suff = 'rd';
          break;
        default:
          suff = 'th';
          break;
      }
      return suff;
    },
  },
};
</script>
