@import './main/main.variables.scss';

p {
  color: $p-color;
}
.mb {
  margin-bottom: 10px;
}
.rounded-card {
  border-radius: 20px !important;
}
.btn-text-white {
  color: #FFF !important;
}
.inline-display {
  display: inline-block;
}
.custom.q-separator {
  height: 5px;
  background-color: $light;
  width: 60%;
  margin: 0 auto;
  box-shadow: $light-shadow;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-4 {
  margin-bottom: 40px;
}
.m-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}
.mt-7 {
  margin-top: 70px;
}
.mt-6 {
  margin-top: 60px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-5 {
  margin-top: 50px;
}
.mt-9 {
  margin-top: 90px;
}
.mt-120 {
  margin-top: 120px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-100 {
  margin-left: 100px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.q-dialog__backdrop {
  background: none !important;
  backdrop-filter: blur(3px) !important;
}
.no-border {
  border: none;
}
.rounded-corner {
  border-radius: 10px;
}
.fullwidth {
  width: 100% !important;
}
.parent-height {
  height: inherit !important;
}
.circle {
  height: 60px;
  width: 60px;
  background-color: $light;
  border-radius: 50%;
  position: absolute;
  // z-index: -1;
}
.circle_2 {
  height: 50px;
  width: 50px;
  margin-top: 4rem;
  margin-left: -2rem;
}
.rewardsCard {
  height: 5rem;
}
.gradient {
  &__bg {
    &-purple {
      background: linear-gradient(#a1a4ff, #415beb);
    }
    &-purple-2 {
      background: linear-gradient(110deg, #ffffff, #415beb);
    }
    &-pink {
      background: linear-gradient(#B65BE2, #B65BE2);
    }
    &-orange {
      background: transparent linear-gradient(110deg, #FBC091 0%, #EA6398 100%) 0% 0% no-repeat padding-box;
    }
    &-blue {
      background: transparent linear-gradient(110deg, #61BAEC 0%, #5D8DE3 100%) 0% 0% no-repeat padding-box;
    }
    &-amber {
      background: transparent linear-gradient(90deg, #F6CB32 0%, #F69632 100%) 0% 0% no-repeat padding-box;
      color: #FFF;
    }
  }
}
