//@import './app.scss';
$light: #FFFFFF;
$light-purple: #EEF8FF;
$light-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
$p-color: #3B3E46;
$light-text: #676666;
$fade-color: #D4D4D4;
$grey: #716D6D;

$primary   : #1976D2;
$secondary : #5064CC;
$accent    : #EEF8FF;
$purple-5 : #3E4094;
$purple-2 : #424891;
$purple-4 : #EBEFFF;
$purple-3 : #8587BC;

$orange-1 : #F69B32;

$dark      : #1D1D1D;

$positive  : #03CD70;
$negative  : #C10015;
$red-1     : #FC0204;
$info      : #EBEFFF;
$warning   : #F2C037;

$amber : #F6A432;
