<template>
  <div class="appCard">
    <q-card
      :class="`my-card ${customClass}`"
      unelevated
      :style="`
        background-color: ${bgColor};
        width: ${width};
      `"
    >
      <slot name="card-image">
        <!-- card image -->
      </slot>
      <q-card-section>
        <slot name="card-content">
          <!-- card content -->
        </slot>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import './_card.scss';

export default {
  name: 'app-card',
  props: {
    bgColor: {
      type: String,
      default: '#FFFFFF',
    },
    width: {
      type: String,
      default: '350px',
    },
    customClass: {
      type: String,
      default: '',
    },
  },
};
</script>
