<template>
  <div class="verifyTopUp">
    <Card>
      <template slot="card-content">
        Verifying Transaction
      </template>
    </Card>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Card from '../../../components/App/Card/Card';

export default {
  name: 'verify-top-up',
  props: ['ref'],
  components: {
    Card,
  },
  computed: {
    ...mapState('wallet', [
      'channels',
      'wallet',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
  },
  mounted() {
    this.$q.loading.show();

    const payload = {
      user_id: this.audienceProfile.id,
      wallet_id: this.wallet.id,
      channel_id: this.channels[1].id, // paystack
      third_party_ref: this.ref,
    };
    // verify transaction
    this.$store.dispatch('wallet/verifyTopUp', payload)
      .then((res) => {
        window.console.log(res);
      })
      .finally(() => {
        this.$q.loading.hide();
      });
  },
  created() {
    if (!this.channels) {
      this.$store.dispatch('wallet/getChannelList');
    }
  },
};
</script>
