<template>
  <div class="social_medial_share">
    <q-dialog v-model="dialogLocal" position="bottom">
      <q-card class="content" style="width: 350px">
        <q-card-section class="social-content">
          <h6 class="social-content__title">
            share via
          </h6>
          <div class="social-content__message">
            <div class="share-icon__container">
              <div class="share-item" v-for="(channel, i) in channels" :key="i">
                <ShareNetwork
                  :network="channel.network"
                  :url="shareUrl"
                  title="Come join me on Isabisport games."
                  description="Get instant reward when you play on isabisport, use this link to join."
                  quote="It's soo awesome - Isabisport"
                  hashtags="isabisport,bmgames"
                >
                  <div>
                    <img height="36" :src="channel.icon" alt="" /> <br />
                    <div class="">{{ channel.network }}</div>
                  </div>
                </ShareNetwork>
              </div>
              <div class="share-item">
                <q-btn @click="copyLink" unelevated color="primary" ourlined round icon="link" />
                <div>Copy Link</div>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Notify from '../../config/notify';
import { utilsMixin } from '../../mixins/utilsMixin';

export default {
  name: 'socialShare',
  mixins: [utilsMixin],
  props: {
    dialog: {
      type: Boolean,
      default: true,
    },
    shareUrl: {
      type: String,
    },
  },
  data() {
    return {
      dialogLocal: false,
      network: 'whatsapp',
      channels: [
        {
          network: 'sms',
          icon: '/icons/message.png',
        },
        {
          network: 'twitter',
          icon: '/icons/twitter.svg',
        },
        {
          network: 'telegram',
          icon: '/icons/telegram.svg',
        },
        {
          network: 'facebook',
          icon: '/icons/facebook.svg',
        },
        {
          network: 'whatsapp',
          icon: '/icons/whatsapp.svg',
        },
      ],
    };
  },
  watch: {
    dialog: {
      handler(val) {
        this.dialogLocal = val;
      },
      deep: true,
    },
    dialogLocal(val) {
      this.$emit('changeSocialShare', val);
    },
  },
  methods: {
    changeNetwork(val) {
      this.network = val;
    },
    copyLink() {
      this.copy(this.shareUrl)
        .then(() => {
          Notify.success('Copied to clipboard');
        });
    },
  },
};
</script>
<style scoped lang="scss">
.social-content {
  width: 100%;
  background-color: #eef8ff;
  text-align: center;

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__message {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
}
.share-icon {
  width: 100%;
}
.share-icon__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.share-item {
  flex: 1 1 30%;
  margin-top: 1rem;
  a {
    text-decoration: none;
    text-transform: capitalize;
    color: $dark;
  }
}
</style>
