<template>
  <q-avatar :size="size">
    <img :src="imageUrl">
    <slot></slot>
  </q-avatar>
</template>

<script>
export default {
  name: 'user-avatar',
  props: {
    size: {
      type: String,
      default: '50px',
    },
  },
  computed: {
    imageUrl() {
      return '/icons/avatar.gif';
    },
  },
};
</script>
