
.q-card {
  background-color: #EEF8FF;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EEF8FF;

  &__header {
    margin-top: 0;
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 12px  0 12px;
    p {
      font-size: 11.5px;
    }
  }
  &__button {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      margin: 10px;
      color: #44099F;
      text-decoration: underline;
      font-style: italic;
    }
    .q-btn__wrapper {
        width: 242px;
        height: 41px;
    }
  }
}
