<template>
  <Dialog :isActive="termsAndConditionActive">
    <template slot="content">
      <div class="content">
        <div class="content__header">
          <img src="~assets/main/logos/brand-mobile-logo.png" height="70px" alt="">
        </div>
        <h6 class="content__title">
          We value your privacy
        </h6>
        <div class="content__message">
          <p>
            We use Your Personal data to provide personalised
            engagements and content as well as to improve our service.
            By using the Service, You agree to the collection and use of
            information in accordance with this Privacy Policy.
          </p>
        </div>
        <div class="content__button">
          <q-btn
            style="font-weight: bolder; font-size: 18px"
            class="button"
            color="secondary"
            label="I Accept"
            @click="acceptTermsAndCondition"
          />
          <a @click="goToTermsAndConditionDetailedPage"> Read more </a>
        </div>
      </div>
    </template>
  </Dialog>
</template>

<script>
import { mapState } from 'vuex';
import './_termsAndConditions.scss';
import Dialog from '../../App/Dialog/Dialog';

export default {
  name: 'terms-and-conditions',
  components: {
    Dialog,
  },
  computed: {
    ...mapState('setup', [
      'termsAndConditionActive',
    ]),
  },
  methods: {
    acceptTermsAndCondition() {
      this.$store.commit('setup/SET_TERMS_CONDITION', true);
      this.$store.commit('setup/SET_TERMS_ACTIVE_STATE', false);
      this.$store.commit('setup/SET_SELECT_USER_STATE', true);
    },
    goToTermsAndConditionDetailedPage() {
      this.$router.push({ name: 't&c-full' });
    },
  },
};
</script>
