.profilePage {
  &__header {
    padding: 20px;
    .q-btn__wrapper {
      color: #FFF;
    }
    &-avatar {
      border: 2px solid $secondary;
      height: 80px;
      width: 80px;
      padding: 1px;
      border-radius: 50%;
    }
  }
  &__content {
    .q-list {
      color: $p-color;
      .q-item {

        .q-item__section.q-item__section--side {
          opacity: 50%;
          .q-input {
            .custom-label {
              font-size: 13px;
            }
          }
        }
        .q-btn__wrapper {
          padding: 4px 0;
          background: $accent;
        }
      }
      .q-item.action {
        background-color: $accent;
        .q-icon {
          font-size: 30px;
        }
      }
    }

  }
}
