<template>
  <q-page class="flex profilePage column">
    <div class="row profilePage__header justify-between">
      <div class="profilePage__header-avatar text-center">
        <user-avatar size="74px">
          <q-badge floating color="secondary">change</q-badge>
        </user-avatar>
      </div>
      <div class="profilePage__header-action self-end">
        <q-btn
          :disable="noProfileFieldHasBeenChanged || disableSaveButton"
          @click="saveProfile"
          style="width: 74px" size="sm" color="secondary" label="Save" text-color="white" />
      </div>
    </div>
    <div class="profilePage__content">
      <q-list bordered separator>
        <q-item clickable v-ripple>
          <q-item-section>First Name</q-item-section>
          <q-item-section side>
            <TapToEdit
              :defaultValue="audienceProfile.first_name ? audienceProfile.first_name: ''"
              @setValue="(value) => profile.firstName = value" />
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Last Name</q-item-section>
          <q-item-section side>
            <TapToEdit
              :defaultValue="audienceProfile.last_name ? audienceProfile.last_name: ''"
              @setValue="(value) => profile.lastName = value "
            />
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Username</q-item-section>
          <q-item-section side>
            <TapToEdit
              :defaultValue="audienceProfile.username ? audienceProfile.username : ''"
              @setValue="validateUsername"
            />
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Email</q-item-section>
          <q-item-section side>
            <TapToEdit
              :defaultValue="audienceProfile.email ? audienceProfile.email : ''"
              @setValue="validateEmail" />
          </q-item-section>
        </q-item>

        <q-item class="action">
          <q-item-section>
            <q-btn
              label="Bank account management"
              size="10px"
              flat
              color="primary"
              icon-right="chevron_right"
              align="between"
              @click="gotoBankPage"
            />
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import './_isabiSportProfilePage.scss';
import { mapState } from 'vuex';
import UserAvatar from 'src/components/Commons/UserAvatar.vue';
import Notify from '../../../../config/notify';
import TapToEdit from '../../../../components/App/TapToEdit/TapToEdit.vue';

export default {
  name: 'profile-page',
  data() {
    return {
      disableSaveButton: false,
      profile: {
        firstName: '',
        lastName: '',
        userName: '',
        email: '',
      },
    };
  },
  components: {
    TapToEdit,
    UserAvatar,
  },
  computed: {
    ...mapState('auth', [
      'user',
    ]),
    ...mapState('audience', [
      'userNameTaken',
      'emailTaken',
      'audienceProfile',
    ]),
    noProfileFieldHasBeenChanged() {
      const { audienceProfile } = this;
      const firstNameIsTheSame = this.profile.firstName === audienceProfile.first_name;
      const lastNameIsTheSame = this.profile.lastName === audienceProfile.last_name;
      const usernameIsTheSame = this.profile.userName === audienceProfile.username;
      const emailIsTheSame = this.profile.email === audienceProfile.email;
      return firstNameIsTheSame && lastNameIsTheSame && usernameIsTheSame && emailIsTheSame;
    },
  },
  mounted() {
    this.profile.firstName = this.audienceProfile.first_name;
    this.profile.lastName = this.audienceProfile.last_name;
    this.profile.userName = this.audienceProfile.username;
    this.profile.email = this.audienceProfile.email;

    if (!Object.keys(this.audienceProfile).length) {
      this.$store.dispatch('audience/getAudienceProfile')
        .then(() => this.$q.loading.hide())
        .catch(() => this.$q.loading.hide());
    }
  },
  methods: {
    gotoBankPage() {
      this.$router.push({ name: 'Bank Account' });
    },

    emailIsInValidFormat(email) {
      const regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return regex.test(email);
    },
    validateEmail(email) {
      let message = '';
      this.profile.email = email;
      const { audienceProfile } = this;
      const emailHasChanged = audienceProfile.email !== email;
      if (email && this.emailIsInValidFormat(email) && emailHasChanged) {
        this.$store.dispatch('audience/checkIfEmailAvailable', email)
          .then((res) => {
            const isEmailExisting = res.emailExists;
            this.disableSaveButton = isEmailExisting;
            if (isEmailExisting) {
              message = 'Email already exists';
            } else {
              message = 'Email is available';
            }
            this.$q.notify({
              message,
              timeout: 500,
              type: 'positive',
            });
          })
          .catch((error) => {
            this.$q.notify({
              message: error.response.data.message || error.message,
              timeout: 500,
              type: 'negative',
            });
            this.disableSaveButton = true;
          });
      } else {
        this.disableSaveButton = true;
      }
    },
    validateUsername(username) {
      let message = '';
      this.profile.userName = username;
      const { audienceProfile } = this;
      const usernameHasChanged = audienceProfile.username !== username;
      if (username && usernameHasChanged) {
        this.$store.dispatch('audience/checkIfUsernameAvailable', username)
          .then((res) => {
            const isUsernameExisting = res.usernameExists;
            this.disableSaveButton = isUsernameExisting;
            if (isUsernameExisting) {
              message = 'Username already exists';
            } else {
              message = 'Username is available';
            }
            this.$q.notify({
              message,
              timeout: 500,
              type: 'positive',
            });
          }).catch((error) => {
            this.$q.notify({
              message: error.response.data.message || error.message,
              timeout: 500,
              type: 'negative',
            });
            this.disableSaveButton = true;
          });
      } else {
        this.disableSaveButton = true;
      }
    },
    saveProfile() {
      this.$q.loading.show();
      const payload = {
        username: this.profile.userName || this.audienceProfile.username,
        last_name: this.profile.lastName || this.audienceProfile.last_name,
        first_name: this.profile.firstName || this.audienceProfile.first_name,
        email: this.profile.email || this.audienceProfile.email,
      };
      // update profile
      this.$store.dispatch('audience/updateProfile', payload)
        .then(() => {
          Notify.success('Profile updated.');
          // this.$router.push({ name: 'Isabisport GameRules' });
        })
        .catch((error) => {
          Object.values(error.response.data).forEach((e) => {
            Notify.error(e || 'Update Failed, please check details.');
          });
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
  },
};
</script>
