<template>
  <Dialog
    :isActive="isActive"
    :isPersistent="false"
    height="380px"
    bgColor="#FFF"
    customClass="rounded-card shadow-2"
    position="standard"
  >
    <template slot="content" v-if="!thirdPartyRef">
      <div class="column justify-center full-width">
        <div class="row justify-end">
          <q-btn size="sm" flat color="negative" icon="close" @click="$emit('closeModal')" />
        </div>
        <div class="text-h6 text-purple-5 text-center q-pa-md">You have to subscribe to continue</div>
        <q-separator />
        <div class="row justify-center">
          <div class="col-sm-12 q-pa-md">
            <q-option-group
              v-model="selectedPlan"
              v-if="plans.length"
              :options="plans"
              size="3rem"
              color="amber"
            />
            <div class="text-grey text-h6" v-else>No Plans Yet</div>
          </div>
        </div>

        <div class="column items-center q-mt-md">
          <q-btn :disabled="!plans.length" class="gradient__bg-amber" padding="10px" style="width: 80%" label="Subscribe" rounded no-caps @click="subscribe" />
        </div>
      </div>
    </template>

    <template slot="content" v-else>
      <div class="column justify-center full-width">
        <div class="text-center q-pa-md">
          <q-btn size="lg" outline round :icon="processIcon" color="positive" />
        </div>
        <div class="text-h6 text-purple-5 text-center q-pa-md">{{ verificationMsg }}</div>
        <q-separator />
        <div class="row justify-center">
          <div class="col-sm-12 q-pa-md" v-if="!isVerifying">
            {{ processIcon === 'check' ? 'Your game purchase was successful' : 'Verification failed' }}
          </div>
          <div class="" v-else>
            Please wait...
          </div>
        </div>

        <div class="column items-center q-mt-md">
          <q-btn :disabled="!verificationSuccessful" color="purple-5" padding="10px" style="width: 80%" label="Play Game" rounded no-caps @click="$emit('playGame')" />
        </div>
      </div>
    </template>
  </Dialog>
</template>

<script>
import { mapGetters } from 'vuex';
import Dialog from '../../../App/Dialog/Dialog';

export default {
  name: 'subscription-modal',
  components: {
    Dialog,
  },
  props: {
    isActive: {
      type: Boolean,
    },
    audienceId: {
      type: String,
    },
    subId: {
      type: String,
    },
    thirdPartyRef: {
      type: String,
    },
    tranxId: {
      type: String,
    },
    email: {
      type: String,
    },
  },
  data() {
    return {
      plans: [],
      selectedPlan: '',
      verificationMsg: 'Processing...',
      processIcon: 'more_horiz',
      isVerifying: false,
      verificationSuccessful: false,
    };
  },
  computed: {
    ...mapGetters('subscription', [
      'currentTransaction',
    ]),
  },
  methods: {
    getSubscriptionPlans() {
      this.$store.dispatch('campaign/getSubscriptionPlans')
        .then((data) => {
          this.plans = data.data;
          this.plans = this.plans.map((plan) => ({ ...plan, label: `₦${plan.price} - ${plan.game_plays} games`, value: plan.id }));
        });
    },
    subscribe() {
      this.$q.loading.show();

      let { host } = window.location;
      // eslint-disable-next-line no-unused-expressions
      host = `http://${host}`;

      const payload = {
        subscription_id: this.selectedPlan,
        campaign_id: process.env.CAMPAIGN_ID,
        email: this.email,
        audience_id: this.audienceId,
        redirect_url: `${host}/apps/isabisport/game-rules/`,
      };

      this.$store.dispatch('subscription/initiateIsabisportCharge', payload)
        .then(() => {
          this.$q.loading.hide();
          window.location.href = this.currentTransaction.authorization_url;
        })
        .catch(() => {
          this.$q.loading.hide();
        });
    },
    validatePayment() {
      this.isVerifying = true;
      this.$q.loading.show();
      const payload = {
        third_party_ref: this.thirdPartyRef,
        subscription_id: this.subId,
        audience_id: this.audienceId,
        transaction_id: this.tranxId,
      };
      this.$store.dispatch('subscription/getChargeStatus', payload)
        .then((data) => {
          const { error } = data.data;
          if (!error) {
            this.processIcon = 'check';
            this.verificationSuccessful = true;
            this.verificationMsg = 'Payment Successful';
            this.$emit('paymentSuccessful');
          }
        })
        .catch((err) => {
          this.processIcon = 'close';
          this.verificationSuccessful = false;
          this.verificationMsg = 'Payment Failed';
          throw err;
        })
        .finally(() => {
          this.isVerifying = false;
          this.$q.loading.hide();
        });
    },
  },
  mounted() {
    if (this.subId && this.thirdPartyRef) {
      this.validatePayment();
    }
  },
  created() {
    this.getSubscriptionPlans();
    // if (this.subId && this.thirdPartyRef) {
    //   this.validatePayment();
    // }
  },
};
</script>
