<template>
  <div id="q-app">
    <transition
      v-if="$q.platform.is.mobile"
      appear
      enter-active-class="animated slideInRight"
    >
      <router-view />
    </transition>
    <div v-else>
      <DeviceNotAllowed />
    </div>
  </div>
</template>
<script>
import DeviceNotAllowed from './pages/main/NotAllowed/NotAllowed.vue';

export default {
  name: 'App',
  components: {
    DeviceNotAllowed,
  },
};
</script>

<style lang="scss">
  .q-notification__content {
    justify-content: center;
  }
  .q-notification__icon {
    margin-right: 0;
  }
</style>
