<template>
  <div class="gameResult">
    <div class="text-center q-mt-xl text-bold text-purple-5" v-if="audienceScore && gameSummary">
      Questions answered in {{ gameSummary.duration }} seconds
    </div>
    <div class="row" v-if="gameSummary">
      <div class="col-md-5 justify-center items-center col-xs-5">
        <q-circular-progress
          show-value
          class="text-purple-5 q-ma-md"
          :value="value"
          size="100px"
          track-color="purple-3"
          color="orange-1"
        >
          <span class="text-h6 text-bold">{{ gameSummary.total_correct_answer }}/{{ gameSummary.total_answered }}</span>
          <!-- <span class="text-h6 text-bold">{{ gameSummary.total_questions_answered }}/{{ gameSummary.total_campaign_questions }}</span> -->
        </q-circular-progress>
      </div>
      <div class="col-md-7 col-xs-7 column info-right" v-if="gameSummary">
        <p class="text-purple-5">You're <span class="position text-h5 text-bold">{{ gameSummary.player_leaderboard_position }}</span><sup>{{ setSuffix(gameSummary.player_leaderboard_position) }}</sup> on today's leaderboard.</p>
        <!-- <p class="text-purple-5">You earned <span class="position text-h6 text-orange-1 text-bold">{{ gameSummary.pointsDurations || 0 }}</span>pts</p> -->
        <p class="text-purple-5">You earned <span class="position text-h6 text-orange-1 text-bold">{{ gameSummary.total_points }}</span>pts</p>
        <!--  -->
      </div>
    </div>
    <div class="row bottom-sheet text-center">
      <div class="col column">
        <!--  -->
        <div class="user">
          <user-avatar></user-avatar>

          <p class="text-h6 text-white q-mt-sm" v-if="audienceProfile">Well done!</p>
        </div>
        <div class="actions column justify-center">
          <q-btn @click="share" class="share" rounded label="Share" />
          <q-btn @click="$router.push({ name: 'Isabisport GameRules' })" rounded class="q-mt-lg" color="purple-5" label="Play another Game"/>
          <!-- <q-btn @click="goToLeaderboard" rounded class="q-mt-lg" color="purple-5" label="Check Leaderboards"/> -->
        </div>
      </div>
    </div>
    <SocialMediaShare
      @changeSocialShare="changeSocialShare"
      message=""
      :dialog="socialShareActive"
      :shareUrl="shareUrl"
    ></SocialMediaShare>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import './_isabiSportgameResult.scss';
import UserAvatar from 'src/components/Commons/UserAvatar.vue';
import SocialMediaShare from '../../../../../components/Commons/SocialMediaShare';

export default {
  name: 'isabisport-game-result',
  components: {
    SocialMediaShare,
    UserAvatar,
  },
  data() {
    return {
      value: (16 / 20) * 100,
      positionSuffix: 'th',
      socialShareActive: false,
      shareUrl: '',
    };
  },
  computed: {
    ...mapState('audience', [
      'audienceProfile',
      'referralDetails',
      'gameSummary',
    ]),
    ...mapState('game', [
      'audienceScore',
      'totalQuestionsAnswered',
      'totalCorrectAnswers',
      'totalPointsEarned',
    ]),
    ...mapState('referral', [
      'referral',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapGetters('game', [
      'gamePlayId',
    ]),
  },
  created() {
    this.$q.loading.show();
    const audienceId = this.audienceProfile.id;
    Promise.all([
      this.$store.dispatch('audience/getGamePlaySummary', this.gamePlayId),
      this.$store.dispatch('game/getMainLeaderboard'),
    ]).then(() => this.$q.loading.hide());

    if (!this.referral) {
      Promise.all([
        this.$store.dispatch('audience/generateReferralCode', audienceId),
        this.$store.dispatch('audience/getReferralCode', audienceId),
      ])
        .then(() => {
          const url = `${window.location.host}/apps/isabisport?r=${this.referralDetails.code}`;
          this.shareUrl = url.includes('http') ? url : `http://${url}`;
        })
        .finally(() => this.$q.loading.hide());
    }
  },
  methods: {
    goToLeaderboard() {
      this.$router.push({ name: 'Isabisport GameRules', params: { default: 'Leaderboard' } });
    },
    changeSocialShare(val) {
      this.socialShareActive = val;
    },
    share() {
      if (!this.referral) {
        // get referral code
        this.$store.dispatch('audience/getReferralCode', this.audienceProfile.id);
      }
      this.socialShareActive = true;
    },
    setSuffix(position) {
      position = String(position);
      const lastString = position[position.length - 1];
      let suff = '';

      switch (lastString) {
        case '1':
          suff = 'st';
          break;
        case '2':
          suff = 'nd';
          break;
        case '3':
          suff = 'rd';
          break;
        default:
          suff = 'th';
          break;
      }
      return suff;
    },
  },
};
</script>
