.fullTermsAndCondition {
  .scrollable {
    height: 600px;
    overflow: scroll;
  }
  h1 {
    font-size: 19px;
    color: #262261;
    font-weight: bolder;
    margin:0;
  }
  h2 {
    font-size: 15px;
    font-weight: bolder;
    margin: 0;
  }
  h3 {
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
  }
  p {
    font-size: 11.5px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

