<template>
  <q-page-container>
    <q-page>
      <div class="fullTermsAndCondition">
        <div class="column bg-blue-1" style="height:220px">
          <div class="col self-center q-pa-lg">
            <img
              src="~assets/main/logos/brand-mobile-logo.png"
              height="70px"
              alt=""
            />
          </div>
          <div class="col q-pa-md">
            <div class="q-gutter-md text-center">
              <q-btn
                style="width: 44%;"
                color="secondary"
                label="I Accept"
                heighe="10px"
                dense
                @click="updateTermsAndConditions(true)"
              />

              <q-btn
                style="width: 44%;"
                color="negative"
                label="I Reject"
                dense
                @click="updateTermsAndConditions(false)"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col q-pa-lg scrollable">
            <h1 class="text-center">PRIVACY POLICY</h1>
            <p class="text-right">Updated: January 2020</p>
            <p>
              This Privacy Policy describes BrandMobile Africa’s (“BM”) policies
              and procedures on the collection, use, and disclosure of Your
              information when You use the Service and tells You about Your
              privacy rights and how the law protects You. We use Your Personal
              data to provide and improve the Service. By using the Service, You
              agree to the collection and use of information in accordance with
              this Privacy Policy.
            </p>
            <h2 class="text-center">INTERPRETATIONS & DEFINITIONS</h2>
            <h3>INTERPRETATIONS & DEFINITIONS</h3>
            <p>
              The words of which the initial letter is capitalized have meanings
              defined under the following conditions. The following definitions
              shall have the same meaning regardless of whether they appear in
              singular or in plural.
            </p>
            <h3>Defintions</h3>
            <p>For the purposes of this Privacy Policy:</p>
            <p>
              <b>Account</b> means a unique account created for You to access
              our Service or parts of our Service.
            </p>
            <p>
              <b>Affiliate</b> means an entity that controls, is controlled by
              or is under common control with a party, where “control” means
              ownership of 50% or more of the shares, equity interest or other
              securities entitled to vote for election of directors or other
              managing authority.
            </p>
            <p>
              <b>Company</b> (referred to as either “BM”, “the Company”, “We”,
              “Us” or “Our” in this Agreement refers to BrandMobile Africa.
            </p>
            <p>
              <b>Cookies</b> are small files that are placed on Your computer,
              mobile device or any other device by a website, which contain
              details of Your browsing history on that website among its many
              uses.
            </p>
            <p>
              <b>Personal Data</b> is any information that relates to an
              identified or identifiable individual.
            </p>
            <p><b>Service</b> refers to the Website except otherwise stated.</p>
            <p>
              <b>Service Provider</b> means any natural or legal person who
              processes the data on behalf of the Company. It refers to
              third-party companies or individuals employed by the Company to
              facilitate the Service, to provide the Service on behalf of the
              Company, to perform services related to the Service or to assist
              the Company in analyzing how the Service is used.
            </p>
            <p>
              <b>Website refers</b> to BrandMobile Africa, accessible from
              www.bmgames.net
            </p>
            <p>
              <b>Usage Data </b> Usage Data refers to data collected
              automatically, either generated by the use of the Service or from
              the Service infrastructure itself (for example, the duration of a
              page visit). You means the individual accessing or using the
              Service, or the company, or other legal entity on behalf of which
              such individual is accessing or using the Service, as applicable.
            </p>
            <h2 class="text-center">Application of this Privacy Notice</h2>
            <p>
              This Privacy Notice applies only to the information We collect on
              this Site and not to any information We collect through other
              methods or services, including websites owned or operated by our
              affiliates, vendors or partners.
            </p>
            <h2>Collection and Use of Your Data</h2>
            <h3>Types of Data We Collect</h3>
            <ol class="numbered-list">
              <li>
                <b>Personal Data:</b> While using Our Service, We may ask You to
                provide Us with certain personally identifiable information that
                can be used to contact or identify You. Personally identifiable
                information may include, but is not limited to
                <ol type="i">
                  <li>Email address</li>
                  <li>First name and last name</li>
                  <li>Phone number</li>
                  <li>Address, State, LGA, City</li>
                  <li>Usage Data</li>
                  <li>Product Preferences</li>
                </ol>
              </li>
              <li>
                <b>Usage Data:</b> Usage Data is collected automatically when
                using the Service. Usage Data may include information such as
                Your Device’s Internet Protocol address (e.g. IP address),
                browser type, browser version, the products you viewed, the time
                and date of Your visit, the time spent on product pages, unique
                device identifiers and other diagnostic data. When You access
                the Service by or through a mobile device, We may collect
                certain information automatically, including, but not limited
                to, the type of mobile device You use, Your mobile device unique
                ID, the IP address of Your mobile device, Your mobile operating
                system, the type of mobile Internet browser You use, unique
                device identifiers and other diagnostic data. We may also
                collect information that Your browser sends whenever You visit
                our Service or when You access the Service by or through a
                mobile device.
              </li>
            </ol>
            <h3>Tracking Technologies and Cookies</h3>
            <p>
              We use Cookies and similar tracking technologies to track the
              activity on Our Service and store certain information. Tracking
              technologies used are beacons, tags, and scripts to collect and
              track information and to improve and analyze Our Service.
            </p>
            <p>
              You can instruct Your browser to refuse all Cookies or to indicate
              when a Cookie is being sent. However, if You do not accept
              Cookies, You may not be able to use some parts of our Service.
            </p>
            <p>
              Cookies can be “Persistent” or “Session” Cookies. Persistent
              Cookies remain on your personal computer or mobile device when You
              go offline, while Session Cookies are deleted as soon as You close
              your web browser.
            </p>
            <p>
              We use both session and persistent Cookies for the purposes set
              out below:
            </p>
            <ol>
              <li>
                <h3>Necessary / Essential Cookies</h3>
                <p>Type: Session Cookies</p>
                <p>Administered by: Us</p>
                <p>
                  Purpose: These Cookies are essential to provide You with
                  services available through the Website and to enable You to
                  use some of its features. They help to authenticate users and
                  prevent fraudulent use of user accounts. Without these
                  Cookies, the services that You have asked for cannot be
                  provided, and We only use these Cookies to provide You with
                  those services.
                </p>
              </li>
              <li>
                <h3>Cookies Policy / Notice Acceptance Cookies</h3>
                <p>Type: Persistent Cookies</p>
                <p>Administered by: Us</p>
                <p>
                  Purpose: These Cookies identify if users have accepted the use
                  of cookies on the Website.
                </p>
              </li>
              <li>
                <h3>Functionality Cookies</h3>
                <p>Type: Persistent Cookies</p>
                <p>Administered by: Us</p>
                <p>
                  Purpose: These Cookies allow us to remember choices You make
                  when You use the Website, such as remembering your login
                  details or language preference. The purpose of these Cookies
                  is to provide You with a more personal experience and to avoid
                  You having to re-enter your preferences every time You use the
                  Website.
                </p>
              </li>
              <li>
                <h3>Tracking and Performance Cookies</h3>
                <p>Type: Persistent Cookies</p>
                <p>Administered by: Third-Parties</p>
                <p>
                  Purpose: These Cookies are used to track information about
                  traffic to the Website and how users use the Website. The
                  information gathered via these Cookies may directly or
                  indirectly identify you as an individual visitor. This is
                  because the information collected is typically linked to a
                  pseudonymous identifier associated with the device you use to
                  access the Website. We may also use these Cookies to test new
                  advertisements, pages, features or new functionality of the
                  Website to see how our users react to them.
                </p>
              </li>
              <li>
                <h3>Targeting and Advertising Cookies</h3>
                <p>Type: Persistent Cookies</p>
                <p>Administered by: Third-Parties</p>
                <p>
                  Purpose: These Cookies track your browsing habits to enable Us
                  to show advertising which is more likely to be of interest to
                  You. These Cookies use information about your browsing history
                  to group You with other users who have similar interests.
                  Based on that information, and with Our permission, third
                  party advertisers can place Cookies to enable them to show
                  adverts which We think will be relevant to your interests
                  while You are on third party websites. For more information
                  about the cookies we use and your choices regarding cookies,
                  please visit our Cookies Policy.
                </p>
              </li>
            </ol>
            <h3>Use of Your Personal Data</h3>
            <p>The Company may use Personal Data for the following purposes:</p>
            <ol>
              <li>
                <p>
                  <b>To provide and maintain our Service,</b>, including to
                  monitor the usage of our Service.
                </p>
              </li>
              <li>
                <p>
                  <b>To manage Your Account:</b> to manage Your registration as
                  a user of the Service. The Personal Data You provide can give
                  You access to different functionalities of the Service that
                  are available to You as a registered user.
                </p>
              </li>
              <li>
                <p>
                  <b>To contact You:</b> To contact You by email, telephone
                  calls, SMS, or other equivalent forms of electronic
                  communication, such as a mobile application’s push
                  notifications regarding updates or informative communications
                  related to the functionalities, products or contracted
                  services, including the security updates, when necessary or
                  reasonable for their implementation.
                </p>
              </li>
              <li>
                <b>To provide You with news,</b> special offers and general
                information about other goods, services and events which we
                offer that are similar to those that you have already purchased
                or enquired about unless You have opted not to receive such
                information.
              </li>
              <li>
                <b> To manage Your requests:</b> To attend and manage Your
                requests to Us.
              </li>
            </ol>
            <h3>Retention of Your Personal Data</h3>
            <p>
              The Company will retain Your Personal Data only for as long as is
              necessary for the purposes set out in this Privacy Policy. We will
              retain and use Your Personal Data to the extent necessary to
              comply with our legal obligations (for example, if we are required
              to retain your data to comply with applicable laws), resolve
              disputes, and enforce our legal agreements and policies.
            </p>
            <p>
              The Company will also retain Usage Data for internal analysis
              purposes. Usage Data is generally retained for a shorter period of
              time, except when this data is used to strengthen the security or
              to improve the functionality of Our Service, or We are legally
              obligated to retain this data for longer time periods.
            </p>
            <h3>Transfer of Your Personal Data</h3>
            <p>
              Your information, including Personal Data, is processed at the
              Company’s operating offices and in any other places where the
              parties involved in the processing are located. It means that this
              information may be transferred to, and maintained on computers
              located outside of Your state, Nigeria, or other governmental
              jurisdiction where the data protection laws may differ than those
              in Nigeria.
            </p>
            <p>
              Your consent to this Privacy Policy followed by Your submission of
              such information represents Your agreement to that transfer.
            </p>
            <p>
              The Company will take all steps reasonably necessary to ensure
              that Your data is treated securely and in accordance with this
              Privacy Policy and no transfer of Your Personal Data will take
              place to an organization or a country unless there are adequate
              controls in place including the security of Your data and other
              personal information.
            </p>
            <h2 class="text-center">Disclosure of Your Personal Data</h2>
            <p>
              This Privacy Notice applies only to the information We collect on
              this Site and not to any information We collect through other
              methods or services, including websites owned or operated by our
              affiliates, vendors or partners.
            </p>
            <p>
              Your personal data may be disclosed in any of the following
              circumstances.
            </p>
            <ol>
              <li>
                <b>
                  With Service Providers:
                </b>
                <p>
                  We may share Your personal information with Service Providers
                  to monitor and analyze the use of our Service, to show
                  advertisements to You to help support and maintain Our
                  Service, to contact You, to advertise on third party websites
                  to You after You visited our Service or for payment
                  processing.
                </p>
              </li>
              <li>
                <b>For Business transfers:</b>
                We may share or transfer Your personal information in connection
                with, or during negotiations of, any merger, sale of Company
                assets, financing, or acquisition of all or a portion of our
                business to another company.
              </li>
              <li>
                <b>With Affiliates:</b>
                We may share Your information with Our affiliates, in which case
                we will require those affiliates to honor this Privacy Policy.
                Affiliates include Our parent company and any other
                subsidiaries, joint venture partners or other companies that We
                control or that are under common control with Us.
              </li>
              <li>
                <b> With Business partners:</b>
                We may share Your information with Our business partners to
                offer You certain products, services, or promotions.
              </li>
              <li>
                <b>Law enforcement:</b>
                Under certain circumstances, the Company may be required to
                disclose Your Personal Data if required to do so by law or in
                response to valid requests by public authorities (e.g. a court
                or a government agency).
              </li>
              <li>
                <b
                  >Other legal requirements: The Company may disclose Your
                  Personal Data in the good faith belief that such action is
                  necessary to:</b
                >
                <ol type="i">
                  >
                  <li>
                    Comply with a legal obligation.
                  </li>
                  <li>
                    Protect and defend the rights or property of the Company.
                  </li>
                  <li>
                    Prevent or investigate possible wrongdoing in connection
                    with the Service.
                  </li>
                  <li>
                    Protect the personal safety of Users of the Service or the
                    public.
                  </li>
                  <li>
                    Protect against legal liability.
                  </li>
                </ol>
              </li>
            </ol>
            <h2 class="text-center">Security of Your Personal Data</h2>
            <p>
              This Privacy Notice applies only to the information We collect on
              this Site and not to any information We collect through other
              methods or services, including websites owned or operated by our
              affiliates, vendors or partners.
            </p>
            <h2 class="text-center">Use of Third Parties</h2>
            <h3>Third Party Service Providers</h3>
            <p>
              We use third-party online analytics services, like Google
              Analytics. The service providers administering these analytics
              services use cookies and similar technologies to collect and
              analyze information about use of the Site and report on activities
              and trends and diagnose technical issues. To learn more about
              Google’s practices, please visit
              https://policies.google.com/technologies/partner-sites, and opt
              out of them by downloading the Google Analytics opt-out browser
              add-on, available at https://tools.google.com/dlpage/gaoptout.
            </p>
            <h3>Links to Other Websites and Third Party Features</h3>
            <p>
              Our Service may contain links to other websites or may contain
              third-party features such as apps, tools, plug-ins, and/or widgets
              for Your convenience and information. These links and third-party
              features are often not operated by Us. If You click on a third
              party link, You will be directed to that third party’s site. We
              strongly advise You to review the Privacy Policy of every site You
              visit.
            </p>
            <p>
              We have no control over and assume no responsibility for the
              content, privacy policies, or practices of any third party sites
              or services.
            </p>
            <h2 class="text-center">
              Children’s Privacy
            </h2>
            <p>
              Our Service is designed for a general audience above the age of
              18. We do not knowingly collect personally identifiable
              information from anyone under the age of 18. If You are a parent
              or guardian and You are aware that Your child has provided Us with
              Personal Data, please contact Us via email at [please provide an
              email]. If We become aware that We have collected Personal Data
              from anyone under the age of 18 without verification of parental
              consent, We take steps to remove that information from Our
              servers. Prior to using Our service, users confirm that they are
              18 years and above. We provide Our service with the assumption
              that users have the required legal capacity to consent to the use
              of their information.
            </p>
            <h2 class="text-center">
              Your Nigerian Privacy Rights
            </h2>
            <p>
              BM collects information that you provide to us, from the use of
              Our website, or from the use of partner websites. Under Nigerian
              law, any Nigerian who has made personal data available to Us has
              the right to:
            </p>
            <ol>
              <li>
                Request correction of an inaccurate personal data concerning him
                or her;
              </li>
              <li>. Have incomplete personal data completed;</li>
              <li>
                Request deletion of such personal data provided there are no
                overriding legitimate grounds for continuous processing of the
                data;
              </li>
              <li>
                Request restriction of further processing of the personal data
                in the following cases
                <ol type="i">
                  <li>
                    The accuracy of the personal data is questioned and the data
                    Controller needs time to verify whether indeed it is
                    accurate.
                  </li>
                  <li>
                    You oppose erasing your personal data but prefer to restrict
                    the way we use it.
                  </li>
                  <li>
                    You need BM to store the personal data for the
                    establishment, exercise, or defence of your legal claims.
                  </li>
                  <li>
                    You object to processing pending the verification of whether
                    legitimate grounds to continue processing the data override
                    your right to have it deleted.
                  </li>
                </ol>
              </li>
              <li>
                Receive notification upon your request about any correction,
                deletion, or restriction of your personal data.
              </li>
              <li>
                To stop further collection and processing of Your data by
                unsubscribing from Our marketing mailing lists by following the
                “Unsubscribe” link in Our marketing emails. If You would like to
                unsubscribe from any other type of marketing You receive from
                Us, please contact Us as specified in the contact email below.
                <br />
                Your rights exercisable under this paragraph are subject to the
                provisions of the Nigerian Constitution which guarantees the
                general protection and enforcement of fundamental rights. To
                object to the use of Your personal information or to know what
                personal information We have about You under Nigerian Law,
                please contact us through any of the following methods: In
                writing mailed to the following address: [26A Adewale Kolawole
                Crescent, Marwa, Lekki, Lagos Nigeria By email to customer
                service at: [ info@brandmobile.net By filling Our contact form/
                customer service form available here.
                <br />
                Please note that to the extent permitted by applicable law, a
                charge may apply before We provide You with a copy of any of
                Your personal information that We maintain.
              </li>
            </ol>
            <h2 class="text-center">
              Changes to this Privacy Policy
            </h2>
            <p>
              We may update our Privacy Policy from time to time. We will notify
              You of any changes by posting the new Privacy Policy on this page.
            </p>
            <p>
              We will let You know via email and/or a prominent notice on Our
              Service, prior to the change becoming effective and update the
              “Last updated” date at the top of this Privacy Policy.
            </p>
          </div>
        </div>
      </div>
    </q-page>
  </q-page-container>
</template>

<script>
import './_fullTermsAndConditions.scss';

export default {
  name: 'terms-and-conditions-page',
  methods: {
    updateTermsAndConditions(val) {
      this.$store.commit('setup/SET_TERMS_CONDITION', val);
      val = !val;
      this.$store.commit('setup/SET_TERMS_ACTIVE_STATE', val);
      this.$router.push({ name: 'landing-page' });
    },
  },
};
</script>
