.changePin {
  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    h5 {
      font-size: 20px;
      font-weight: 700;
      color: $secondary;
    }
  }
  &__actions {
    text-align: center;
  }
}
