<template>
  <div class="changePin">
    <q-btn
      size="md"
      unelevated rounded
      color="accent" icon-right="lock_open"
      label="Change Pin"
      @click="changePinActive = true"
      style="color: #5064CC"
    />
    <Dialog
      :isActive="changePinActive"
      :isPersistent="true"
      height="346px"
      position="standard"
    >
      <template slot="content">
        <div class="changePin__content">
          <h5>Change Pin</h5>
          <p>{{ IsCurrentPinActive ? 'Enter your current Pin' : IsNewPinActive ? 'Type in your new pin' : IsConfirmNewPinActive ? 'Type in your new Pin again' : '' }}</p>
<!--          <component v-bind:is='currentComponent' @completed="updateInput"/>-->

          <CurrentPin v-if="IsCurrentPinActive" :key="componentKey" @completed="verifyPin"></CurrentPin>
          <NewPin :key="componentKey" v-if="IsNewPinActive" @completed="updateInput"></NewPin>
          <ConfirmPin :key="componentKey" v-if="IsConfirmNewPinActive" @completed="updateInput"></ConfirmPin>
          <div class="q-mt-xl actions">
            <q-btn @click="closeChangePinModal" outline size="sm" round color="negative" icon="clear" />
          </div>
        </div>
      </template>

    </Dialog>
  </div>
</template>

<script>
import './_changePin.scss';
import 'src/css/layouts/_profile.scss';
import { mapState } from 'vuex';
import Notify from 'src/config/notify';
import { getItem } from 'src/helpers/localStorage';
import Dialog from '../../../App/Dialog/Dialog';
import PinInput from '../../../../components/App/PinInput/PinInput';

export default {
  name: 'app-dialog',
  components: {
    Dialog,
    CurrentPin: PinInput,
    NewPin: PinInput,
    ConfirmPin: PinInput,
  },
  data() {
    return {
      currentComponent: 'CurrentPin',
      changePinActive: false,
      currentPin: '',
      newPin: '',
      confirmPin: '',
      componentKey: 0,
    };
  },
  computed: {
    ...mapState('auth', [
      'pin',
      'verifyPinSuccess',
      'verifyPinError',
      'pinIsCorrect',
      'phoneNumber',
      'confirmResetPinSuccess',
      'confirmResetPinError',
    ]),
    IsCurrentPinActive() {
      return this.currentComponent === 'CurrentPin';
    },
    IsNewPinActive() {
      return this.currentComponent === 'NewPin';
    },
    IsConfirmNewPinActive() {
      return this.currentComponent === 'ConfirmPin';
    },
  },
  methods: {
    async verifyPin(pin) {
      this.$q.loading.show();
      await this.$store.dispatch('auth/verifyPin', pin);
      this.$q.loading.hide();
      // if request is successful and pin is correct
      if (this.verifyPinSuccess) {
        // re-render the input component
        this.componentKey += 1;
        this.currentComponent = 'NewPin';
      }
      // if request is successful and pin is incorrect (it's not undefined due to another error other than a wrong pin)
      if (!this.verifyPinSuccess && !this.pinIsCorrect !== undefined) {
        Notify.error('Incorrect pin');
      }
      // if request is not successful and there is another error (e.g network error)
      if (!this.verifyPinSuccess && this.pinIsCorrect === undefined) {
        Notify.error(this.verifyPinError);
      }
    },
    async updateInput(val) {
      // if currentComponent changes to 'NewPin'
      if (this.IsNewPinActive) {
        // set new pin
        this.newPin = val;
        // re-render the input component
        this.componentKey += 1;
        this.currentComponent = 'ConfirmPin';
        /* controls the flow programmatically so that the next if statement won't interfere (isConfirmNewPinActive will be true
        and the value of confirmPin will be the same as the value of newPin
        */
        return;
      }
      // if currentComponent changes to 'ConfirmPin'
      if (this.IsConfirmNewPinActive) {
        // set confirm pin
        this.confirmPin = val;
      }

      // if new pin and confirm pin are present and the pins match
      if (this.IsConfirmNewPinActive && this.pinsMatch()) {
        await this.updateUserPin();
        // reset the current component
        this.currentComponent = 'CurrentPin';
      }

      if (this.IsConfirmNewPinActive && !this.pinsMatch()) {
        Notify.error('Pins do not match');
        // re-render the input component
        this.componentKey += 1;
        this.currentComponent = 'NewPin';
      }
    },
    pinsMatch() {
      return this.newPin === this.confirmPin;
    },
    async updateUserPin() {
      try {
        const phoneNumber = getItem('phoneNumber');
        const payload = {
          phone_number: phoneNumber,
          new_pin: this.confirmPin,
        };
        this.$q.loading.show();
        await this.$store.dispatch('auth/confirmPinReset', payload);
        this.$q.loading.hide();
        if (this.confirmResetPinSuccess) {
          Notify.success('Pin changed successfully');
          this.changePinActive = false;
        } else {
          Notify.error(this.confirmResetPinError);
        }
      } catch (e) {
        this.$q.loading.hide();
        Notify.error(e);
      }
    },
    closeChangePinModal() {
      this.changePinActive = false;
      this.currentComponent = 'CurrentPin';
    },
  },
};
</script>
