<template>
  <div @click="goToLink" class="cardWithLink">
    <Card :customClass="`fullwidth cardWithLink-hieght ${customClass}`">
      <template slot="card-content">
        <q-badge class="no-border" color="white" outline transparent floating>
          <q-icon size="20px" :name="`img:${cardIcon}`" />
        </q-badge>
        <q-img size="50px" :src="`${cardImg}`" />
      </template>
    </Card>
    <div class="cardWithLink__link q-mt-sm">
      <router-link :to="`${cardLink}`">{{ cardTitle }}</router-link>
    </div>
  </div>
</template>

<script>
import Card from '../Card/Card';

export default {
  name: 'card-with-link',
  components: {
    Card,
  },
  props: {
    cardTitle: {
      type: String,
      default: 'Click here',
    },
    cardIcon: {
      type: String,
      default: '/icons/money.svg',
    },
    cardImg: {
      type: String,
      default: '/icons/wheel-of-fortune.svg',
    },
    cardLink: {
      type: String,
      default: '/',
    },
    customClass: {
      type: String,
    },
  },
  methods: {
    goToLink() {
      this.$router.push(this.cardLink);
    },
  },
};
</script>

<style lang="scss">
.cardWithLink {
  &__link {
  text-align: center;
    a {
      text-decoration: underline;
      color: #011A35;
      font-size: 13px;
    }
  }
}
.cardWithLink-hieght {
  min-height: 120.66px;
}
</style>
