.bankAccount {
  .appCard {
    .q-card {
      box-shadow: none;
      .q-card__section {
        background-color: $accent;
        .acc_no {
          font-size: 15px;
        }
        .acc_name {
          font-size: 15px;
          color: $p-color;
        }
      }
    }
  }
  .actions {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    &__save {
      margin-top: 3rem;
      text-align: center;
      .q-btn {
        color: $light;
        .q-btn__wrapper {
          color: $light;
          font-size: 15px;
        }
      }
    }
  }
  .q-field--outlined .q-field__control:before {
    border: 2px solid $accent !important;
  }
}
