<template>
  <div class="bankAccount">
    <Card class="q-mt-md">
      <template slot="card-content">
        <div class="row column text-left">
          <p class="acc_no">
            <strong>Acc Number: </strong>
            <q-badge outline color="orange" transparent>{{ audienceProfile? audienceProfile.account_number || 'Not set' : 'Not set' }}</q-badge>
          </p>
          <p class="acc_name">
            <strong>Bank Name: </strong>
            <q-badge outline color="orange" transparent>{{ audienceProfile? audienceProfile.bank_name || 'Not set' : 'Not set' }}</q-badge>
          </p>
        </div>
      </template>
    </Card>

    <div class="actions">
      <q-select
        outlined
        color="secondary"
        :loading="isGettingBanks"
        borderless
        v-model="bank"
        ref="bank"
        @filter="filterFn"
        behavior="menu"
        use-input
        input-debounce="0"
        :rules="[val => !!val || 'Please select your bank']"
        :option-label="(item) => item.name"
        :option-value="(item) => item"
        :options="filteredBanks"
        label="Select Bank"
      />

      <q-input
        class="q-mt-sm"
        outlined
        color="secondary"
        borderless
        type="number"
        v-model="accountNumber"
        ref="accountNumber"
        :rules="[
          val => !!val || 'Please enter your account number',
          val => val.length === 10 || 'Account number must be 10 digits'
        ]"
        label="Enter Account Number" />

      <div class="actions__save">
        <q-btn size="lg" color="secondary" class="full-width" style=" color: #FFF" label="Save" @click="saveBankAccount" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import './_bankAccount.scss';
import Notify from '../../../config/notify';
import Card from '../../../components/App/Card/Card';

export default {
  name: 'bank-account',
  components: {
    Card,
  },
  data() {
    return {
      bank: null,
      filteredBanks: [],
      accountNumber: '',
      isGettingBanks: true,
    };
  },
  computed: {
    ...mapState('bank', [
      'banks',
    ]),
    ...mapState('auth', [
      'userId',
    ]),
    ...mapState('audience', [
      'audienceProfile',
    ]),
    formComplete() {
      return this.bank && this.accountNumber;
    },
  },
  methods: {
    setDefaults() {
      if (this.audienceProfile.account_number) {
        this.accountNumber = this.audienceProfile.account_number;
        this.bank = this.banks.find((x) => x.name === this.audienceProfile.bank_name);
      }
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.filteredBanks = this.banks;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.filteredBanks = this.banks.filter((v) => v.name.toLowerCase().indexOf(needle) > -1);
      });
    },
    saveBankAccount() {
      this.$refs.accountNumber.validate();
      this.$refs.bank.validate();
      if (this.$refs.accountNumber.hasError || this.$refs.bank.hasError) {
        return;
      }
      // save account and create wallet
      const payload = {
        account_number: this.accountNumber,
        bank_name: this.bank.name,
        bank_code: this.bank.code,
      };
      this.$q.loading.show();

      this.$store.dispatch('audience/updateBank', payload)
        .then(() => {
          Notify.success('Bank Account Updated.');
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
  },
  async created() {
    this.isGettingBanks = true;
    await this.$store.dispatch('bank/getBankList');
    this.isGettingBanks = false;
    // Promise.all([
    //   this.$store.dispatch('audience/updateProfile', { audience_id: this.userId }),
    // ])
    //   .then(() => {
    //     this.setDefaults();
    //   });
  },
};
</script>
